@charset "UTF-8";
/* Port custom styles */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
/*Font import starts*/
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0; }

p {
  margin: 10px 0;
  line-height: normal; }

a {
  word-break: break-word; }

@media screen and (max-width: 767px) {
  h1, h2, h3 {
    font-size: 28px !important; } }

body {
  background: #f7f7f7; }
  @media screen and (max-width: 767px) {
    body article div, body a, body p, body article span, body ul, body li {
      font-size: 15px !important; } }
  body.path-frontpage {
    background: #fff; }

.path-frontpage .js-quickedit-main-content {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important; }

.region-content {
  min-height: 500px; }

aside {
  padding: 0 !important; }

.about-works .pager {
  margin: 0 0 30px !important; }

.about-works .pager__item a {
  color: #e84c3d !important;
  border-color: #e84c3d !important;
  z-index: 0;
  font-size: 16px !important;
  border-radius: 0 !important; }
  .about-works .pager__item a:before, .about-works .pager__item a:after {
    border-color: #e84c3d !important; }
  .about-works .pager__item a:hover {
    color: #fff;
    background-color: #e84c3d;
    border-color: #e84c3d;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1.07); }
    .about-works .pager__item a:hover:before, .about-works .pager__item a:hover:after {
      border-color: #e84c3d; }

.viewmore, .more-link, .about-works .pager__item {
  text-align: center;
  position: relative;
  margin: auto; }
  .viewmore a, .more-link a, .about-works .pager__item a {
    color: #fff;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    z-index: 0; }
    .viewmore a:before, .viewmore a:after, .more-link a:before, .more-link a:after, .about-works .pager__item a:before, .about-works .pager__item a:after {
      content: '';
      display: block;
      position: absolute;
      border-color: #454545;
      box-sizing: border-box;
      border-style: solid;
      width: 1em;
      height: 1em;
      transition: all 0.3s ease-in-out; }
    .viewmore a:before, .more-link a:before, .about-works .pager__item a:before {
      top: -6px;
      left: -6px;
      border-width: 2px 0 0 2px;
      z-index: 5; }
    .viewmore a:after, .more-link a:after, .about-works .pager__item a:after {
      bottom: -6px;
      right: -6px;
      border-width: 0 2px 2px 0; }
    .viewmore a:hover, .more-link a:hover, .about-works .pager__item a:hover {
      color: #353535;
      background-color: #fff;
      border-color: #fff; }
      .viewmore a:hover:before, .viewmore a:hover:after, .more-link a:hover:before, .more-link a:hover:after, .about-works .pager__item a:hover:before, .about-works .pager__item a:hover:after {
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border-color: #fff; }
    .viewmore a.wht, .more-link a.wht, .about-works .pager__item a.wht {
      color: #ffffff;
      border-color: #ffffff; }
      .viewmore a.wht:before, .viewmore a.wht:after, .more-link a.wht:before, .more-link a.wht:after, .about-works .pager__item a.wht:before, .about-works .pager__item a.wht:after {
        border-color: #fff; }
      .viewmore a.wht:hover, .more-link a.wht:hover, .about-works .pager__item a.wht:hover {
        color: #e84c3d;
        background-color: #ffffff;
        border-color: #ffffff;
        text-decoration: none;
        transition: 0.5s;
        transform: scale(1.07); }
        .viewmore a.wht:hover:before, .viewmore a.wht:hover:after, .more-link a.wht:hover:before, .more-link a.wht:hover:after, .about-works .pager__item a.wht:hover:before, .about-works .pager__item a.wht:hover:after {
          border-color: #ffffff; }
    .viewmore a.red, .more-link a.red, .about-works .pager__item a.red {
      color: #e84c3d;
      border-color: #e84c3d;
      z-index: 0; }
      .viewmore a.red:before, .viewmore a.red:after, .more-link a.red:before, .more-link a.red:after, .about-works .pager__item a.red:before, .about-works .pager__item a.red:after {
        border-color: #e84c3d; }
      .viewmore a.red:hover, .more-link a.red:hover, .about-works .pager__item a.red:hover {
        color: #fff;
        background-color: #e84c3d;
        border-color: #e84c3d;
        text-decoration: none;
        transition: 0.5s;
        transform: scale(1.07); }
        .viewmore a.red:hover:before, .viewmore a.red:hover:after, .more-link a.red:hover:before, .more-link a.red:hover:after, .about-works .pager__item a.red:hover:before, .about-works .pager__item a.red:hover:after {
          border-color: #e84c3d; }

.row {
  margin: 0 !important; }

.col-sm-12 {
  padding: 0 !important; }

/*Slick design*/
.slick-arrow:hover::before {
  color: #b92a1c !important; }

.slick-arrow::before {
  color: #e84c3d !important;
  font-size: 36px !important; }

.slick-dots {
  padding: 20px 0; }
  @media (max-width: 767px) {
    .slick-dots {
      display: none !important; } }
  .slick-dots li button::before {
    font-size: 15px;
    color: #d83e2f; }
  .slick-dots li.slick-active button::before {
    color: #e84c3d; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.modal-content {
  background: #ffffffe6;
  width: 80%;
  margin: auto; }
  @media (max-width: 767px) {
    .modal-content {
      width: 98%; } }
  .modal-content .modal-header {
    background: #101010;
    text-align: center;
    color: #fff; }
    .modal-content .modal-header h4.modal-title {
      font-size: 26px;
      font-weight: bold; }
    .modal-content .modal-header .close {
      background: red;
      opacity: 1;
      color: #fff;
      padding: 0px 8px 6px;
      font-weight: normal;
      margin: 5px 0; }
  .modal-content .modal-body {
    overflow: auto !important; }
    .modal-content .modal-body .field--type-language {
      display: none; }
    .modal-content .modal-body .contact-message-feedback-form {
      margin: 30px 0 10px; }
      .modal-content .modal-body .contact-message-feedback-form .form-group {
        display: flex;
        width: 100%;
        align-items: center; }
        @media (max-width: 767px) {
          .modal-content .modal-body .contact-message-feedback-form .form-group {
            display: block; } }
        .modal-content .modal-body .contact-message-feedback-form .form-group input, .modal-content .modal-body .contact-message-feedback-form .form-group .form-textarea-wrapper {
          width: 75%;
          margin: 0 5px; }
          @media (max-width: 767px) {
            .modal-content .modal-body .contact-message-feedback-form .form-group input, .modal-content .modal-body .contact-message-feedback-form .form-group .form-textarea-wrapper {
              width: 100%; } }
        .modal-content .modal-body .contact-message-feedback-form .form-group input {
          border-radius: 0;
          border: 1px solid #101010;
          box-shadow: none;
          background: none; }
        .modal-content .modal-body .contact-message-feedback-form .form-group textarea {
          height: 100px;
          border: 1px solid #101010;
          border-radius: 0;
          background: none; }
        .modal-content .modal-body .contact-message-feedback-form .form-group label {
          width: 25%;
          font-weight: 400;
          font-size: 16px; }
          @media (max-width: 767px) {
            .modal-content .modal-body .contact-message-feedback-form .form-group label {
              width: 100%;
              text-align: center; } }
  .modal-content .modal-buttons {
    text-align: center; }
    .modal-content .modal-buttons .icon-before {
      display: none; }
    .modal-content .modal-buttons button {
      background: #dd4636 !important;
      border: none !important;
      font-size: 21px !important; }
      .modal-content .modal-buttons button:hover, .modal-content .modal-buttons button:focus, .modal-content .modal-buttons button:active {
        background: #ce3e2e; }

/*Header title*/
.page-header {
  color: #f7f7f7;
  background-size: cover;
  padding: 80px;
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  background: linear-gradient(0deg, #0000006b, rgba(0, 0, 0, 0.55)), url(../images/jpg/pagetitle.jpg) left no-repeat;
  background-size: cover; }
  @media (max-width: 767px) {
    .page-header {
      font-size: 25px;
      padding: 40px; } }

/*Overlay css*/
.about-works .content-wrp .viewmore {
  align-items: center;
  justify-content: center;
  display: flex; }

.path-portfolio .content-wrp, .about-works .content-wrp {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #333;
  overflow: hidden;
  opacity: 0.9;
  width: 100%;
  height: 0;
  transition: .5s ease; }
  .path-portfolio .content-wrp div, .about-works .content-wrp div {
    flex: 1 100%;
    font-size: 18px;
    padding: 10px;
    color: #fff; }
  .path-portfolio .content-wrp .body ul, .about-works .content-wrp .body ul {
    list-style: none;
    text-align: left;
    margin: 0; }
  .path-portfolio .content-wrp .title, .about-works .content-wrp .title {
    padding: 0; }
    .path-portfolio .content-wrp .title a, .about-works .content-wrp .title a {
      color: #fff;
      font-size: 25px;
      width: 100%;
      background: #e84c3d;
      font-weight: bold;
      display: block;
      text-decoration: none; }
  .path-portfolio .content-wrp .viewmore, .about-works .content-wrp .viewmore {
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 1111;
    margin: 0;
    padding: 0; }
    .path-portfolio .content-wrp .viewmore a.wht, .about-works .content-wrp .viewmore a.wht {
      font-size: 14px;
      border-color: #fff !important; }
.path-portfolio .views-row, .path-portfolio .shuffle-item, .about-works .views-row, .about-works .shuffle-item {
  position: relative; }
  .path-portfolio .views-row:hover .content-wrp, .path-portfolio .shuffle-item:hover .content-wrp, .about-works .views-row:hover .content-wrp, .about-works .shuffle-item:hover .content-wrp {
    bottom: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
.path-portfolio .more-link a, .about-works .more-link a {
  border-color: #e84c3d !important;
  color: #e84c3d !important; }
  .path-portfolio .more-link a:hover, .path-portfolio .more-link a:focus, .path-portfolio .more-link a:active, .about-works .more-link a:hover, .about-works .more-link a:focus, .about-works .more-link a:active {
    color: #ffffff !important;
    background-color: #e84c3d; }
  .path-portfolio .more-link a::before, .path-portfolio .more-link a::after, .about-works .more-link a::before, .about-works .more-link a::after {
    border-color: #e84c3d !important; }

.feedback-block .slick__arrow {
  top: unset !important;
  z-index: 0; }

.view-testimonal-feedback .slick-dots {
  padding: 0 !important;
  bottom: -50px !important; }

/*Testimonal wrapper*/
.testimonal-wrpper {
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  font-size: 16px;
  min-height: 200px; }
  .testimonal-wrpper .desc {
    flex: 1 100%;
    text-transform: capitalize; }
  .testimonal-wrpper .image {
    margin: 0 10px 0 0; }
    .testimonal-wrpper .image svg {
      font-size: 40px;
      color: #171717; }
  .testimonal-wrpper .name {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px; }

.entity-content-form-footer {
  display: none; }

/*title hidden in baisc page*/
.page-node-type-page article {
  background: #f7f7f7; }

/*quicktabs*/
.about-tabs {
  background: #fff; }
  .about-tabs .about-tabs-wrp {
    display: flex;
    justify-content: center;
    margin: 0; }
    .about-tabs .about-tabs-wrp li {
      list-style: none; }
      @media (max-width: 767px) {
        .about-tabs .about-tabs-wrp li {
          margin: 0; } }
      .about-tabs .about-tabs-wrp li a {
        color: #000;
        font-size: 20px;
        border-bottom: 5px solid #fff;
        padding: 10px 25px;
        display: block;
        text-decoration: none; }
        @media (max-width: 767px) {
          .about-tabs .about-tabs-wrp li a {
            padding: 10px 20px; } }
        .about-tabs .about-tabs-wrp li a.active {
          color: #e84c3d;
          border-bottom: 5px solid #e84c3d; }

.page-node-type-blogs nav .menu li.dropdown + li + li a {
  background: #e84c3d; }

/*portfolio link design*/
.path-portfolio-list nav .menu li.dropdown + li a {
  background: #e84c3d; }
.path-portfolio-list .grid-list .list {
  background: #f9f9f9;
  color: #fb867b;
  padding: 2px 8px;
  box-shadow: 0 0 10px #e4e4e4; }

.path-portfolio .grid-list .grid {
  background: #f9f9f9;
  color: #fb867b;
  padding: 2px 8px;
  box-shadow: 0 0 10px #e4e4e4; }

.breadcrumb {
  margin-top: 20px; }

.path-frontpage h1.page-header {
  display: none; }

.user-logged-in header.sticky {
  position: relative; }

header {
  background: #101010;
  border-bottom: 2px solid #e84c3d; }
  header .navbar-toggle {
    background-color: #101010; }
    header .navbar-toggle .icon-bar {
      background: #fff; }
  header .logo {
    margin: 8px 15px !important; }
    header .logo img {
      max-width: 140px;
      max-height: 34px; }
  header .navbar-brand {
    display: none; }
  header ul {
    float: none !important;
    display: flex;
    justify-content: center; }
    @media (max-width: 767px) {
      header ul {
        display: block; } }
    header ul li a {
      color: #fff;
      font-size: 20px; }
      header ul li a:hover, header ul li a:focus, header ul li a:active {
        background-color: #e84c3d !important;
        color: #fff; }
      header ul li a.is-active {
        background: #e84c3d;
        color: #fff; }
    header ul li:hover ul.dropdown-menu {
      display: block; }
      header ul li:hover ul.dropdown-menu li a:hover, header ul li:hover ul.dropdown-menu li a:focus, header ul li:hover ul.dropdown-menu li a:active {
        color: #fff; }
    header ul li ul.dropdown-menu {
      padding: 0 !important; }
      @media (max-width: 767px) {
        header ul li ul.dropdown-menu {
          width: 100%;
          position: relative;
          border: none;
          background: #252525; } }
      header ul li ul.dropdown-menu li a {
        padding: 5px 25px;
        border-bottom: 1px solid #e4e4e4;
        font-size: 20px; }
        @media (max-width: 767px) {
          header ul li ul.dropdown-menu li a {
            color: #fff;
            border: none; } }
        header ul li ul.dropdown-menu li a.active {
          background-color: #e84c3d !important; }
  header.sticky {
    position: fixed;
    top: 0;
    width: 100%; }

.flexy-logo {
  font-size: 0 !important;
  background: url("../logo.svg") no-repeat top;
  background-size: 125px;
  width: 125px;
  height: 32px;
  margin: 0; }

/*About page starts*/
.about-wrpper {
  padding: 50px 0 0; }
  @media (max-width: 767px) {
    .about-wrpper {
      padding: 5px 0 25px; } }
  .about-wrpper .body {
    text-align: center;
    font-size: 26px; }
    .about-wrpper .body h2 {
      font-weight: bold;
      font-size: 32px;
      margin: 25px; }
      @media (max-width: 767px) {
        .about-wrpper .body h2 {
          font-size: 20px !important;
          margin: 25px 0; } }
    .about-wrpper .body p {
      margin: 20px 0 60px; }
      @media (max-width: 767px) {
        .about-wrpper .body p {
          margin: 20px 20px 0; } }
  .about-wrpper .bgimg {
    background: url(../images/png/profile_image.png);
    background-size: 436px;
    width: 350px;
    height: 436px;
    background-position: center;
    font-size: 0 !important;
    margin: 50px auto;
    cursor: grab;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); }
    .about-wrpper .bgimg:hover {
      filter: none;
      -webkit-filter: grayscale(0); }
    @media (max-width: 767px) {
      .about-wrpper .bgimg {
        background-size: 643px;
        width: 320px;
        height: 398px; } }
    @media (max-width: 575px) {
      .about-wrpper .bgimg {
        background-size: 505px;
        width: 252px;
        height: 313px; } }
  .about-wrpper .ui {
    background: url(../images/png/uiux.png);
    width: 1000px;
    height: 453px;
    background-size: 1000px;
    font-size: 0 !important;
    margin: auto; }
    @media (max-width: 991px) {
      .about-wrpper .ui {
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain; } }
    @media (max-width: 767px) {
      .about-wrpper .ui {
        display: none; } }
  .about-wrpper .body-desc {
    background: #e84c3d;
    padding: 75px 75px 175px 75px;
    color: #fff;
    text-align: left;
    font-size: 21px;
    margin: 0 0 60px; }
    @media (max-width: 991px) {
      .about-wrpper .body-desc {
        padding: 50px 25px; } }
    @media (max-width: 767px) {
      .about-wrpper .body-desc {
        margin: 0; } }
    .about-wrpper .body-desc p {
      margin: 20px 0;
      font-weight: 300; }
    .about-wrpper .body-desc h2 {
      text-align: center;
      font-weight: 800;
      font-size: 36px;
      margin: 30px 0; }
    .about-wrpper .body-desc .body p {
      margin: 0 !important;
      font-size: 22px; }
  .about-wrpper .details-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 75px 50px;
    padding: 50px;
    margin: -23% 0 0; }
    @media (max-width: 991px) {
      .about-wrpper .details-wrapper {
        display: block;
        margin: 0;
        padding: 10px; } }
    @media (max-width: 767px) {
      .about-wrpper .details-wrapper {
        padding: 0; } }
    .about-wrpper .details-wrapper .col {
      width: 32%;
      padding: 40px;
      background: #fff;
      border-right: 1px solid #f3f3f3;
      text-align: center; }
      @media (max-width: 991px) {
        .about-wrpper .details-wrapper .col {
          width: 100%;
          padding: 20px 10px; } }
      @media (max-width: 767px) {
        .about-wrpper .details-wrapper .col {
          padding: 20px;
          margin: 20px 0; } }
      .about-wrpper .details-wrapper .col .design-icon {
        font-size: 0 !important;
        background: url(../images/png/icons/web-design.png);
        width: 51px;
        height: 51px;
        margin: auto; }
      .about-wrpper .details-wrapper .col .ui-icon {
        font-size: 0 !important;
        background: url(../images/png/icons/ui-ux.png);
        width: 51px;
        height: 51px;
        margin: auto; }
      .about-wrpper .details-wrapper .col .drup-icon {
        background: url(../images/png/icons/drupal.png);
        width: 51px;
        height: 51px;
        margin: auto;
        font-size: 0 !important;
        box-shadow: 0 0 3px #a9a9a9; }
      .about-wrpper .details-wrapper .col h2 {
        font-weight: 800;
        color: #565656;
        margin: 25px 0 20px;
        font-size: 20px;
        text-align: center;
        background: #fff;
        padding: 10px 0;
        border: 1px solid #cccccc; }
      .about-wrpper .details-wrapper .col p {
        font-size: 16px;
        margin: 0 !important;
        line-height: 30px; }
      .about-wrpper .details-wrapper .col h3 {
        color: #e84c3d;
        font-size: 21px; }
      .about-wrpper .details-wrapper .col ul {
        list-style: none;
        font-size: 16px;
        line-height: 30px;
        padding: 0; }
        .about-wrpper .details-wrapper .col ul li {
          display: inline-block;
          margin: 3px 2px;
          padding: 5px 12px;
          font-family: arial;
          font-weight: 200;
          background: #f7f7f7; }
  .about-wrpper .technology-wrp {
    text-align: center; }
    .about-wrpper .technology-wrp .icon-wrp {
      display: flex;
      justify-content: space-evenly;
      margin: 25px 0; }
      @media (max-width: 991px) {
        .about-wrpper .technology-wrp .icon-wrp {
          flex-wrap: wrap;
          justify-content: center; } }
      @media (max-width: 991px) {
        .about-wrpper .technology-wrp .icon-wrp .icon {
          width: 10%;
          margin: 35px !important; } }

@media (max-width: 767px) {
  .page-node-type-works .col-sm-9 {
    padding: 0; } }

/*Works detailed page*/
.details-content-wrp {
  text-align: left;
  padding: 20px 5px;
  font-size: 21px; }
  @media (max-width: 767px) {
    .details-content-wrp {
      padding: 20px 0; } }
  .details-content-wrp .row {
    margin: 19px !important; }
    @media (max-width: 767px) {
      .details-content-wrp .row {
        margin: 0 !important; } }
    .details-content-wrp .row.mainimg .field--label, .details-content-wrp .row.uiimg .field--label {
      display: none; }
    .details-content-wrp .row.mainimg img, .details-content-wrp .row.uiimg img {
      width: 100%; }
    .details-content-wrp .row .field--item {
      background: #f9f9f9;
      padding: 25px;
      letter-spacing: 1px;
      line-height: 33px; }
      .details-content-wrp .row .field--item ul li {
        margin: 7px 0;
        list-style: none;
        text-indent: -25px; }
        .details-content-wrp .row .field--item ul li::before {
          content: '';
          padding: 0 5px;
          background-color: #e84d41;
          margin-right: 15px; }
    .details-content-wrp .row .field--label {
      border-bottom: 2px solid #e84d42;
      padding: 10px;
      color: #ffffff;
      background: #333;
      font-size: 25px;
      font-weight: 500; }
    .details-content-wrp .row.category .field--items .field--item, .details-content-wrp .row.tech .field--items .field--item {
      display: inline-block;
      padding: 5px 15px;
      margin: 10px 10px 10px 0;
      background: #ebebeb; }
      .details-content-wrp .row.category .field--items .field--item a, .details-content-wrp .row.tech .field--items .field--item a {
        color: #333333;
        pointer-events: none;
        font-size: 19px; }

/*Contact page*/
.path-contact .region-content {
  text-align: left;
  padding: 50px !important; }
  @media (max-width: 767px) {
    .path-contact .region-content {
      padding: 30px 0 !important; } }
  @media (max-width: 991px) {
    .path-contact .region-content {
      display: block; } }
  .path-contact .region-content .gradient-background {
    display: none; }
  .path-contact .region-content .header h2 {
    margin: 10px 0; }

.path-webform .page-header {
  background-color: #fff; }
.path-webform .region-content {
  text-align: center; }

.webform-submission-testimonals-form .form-item-name label {
  display: none !important; }

.path-contact .contact-message-feedback-form,
.node-webform-form,
.user-login-form,
.user-register-form {
  width: 55%;
  background: #fff;
  box-shadow: 0 0 10px #c5c5c5;
  padding: 50px;
  text-align: left;
  margin: 40px auto; }
  @media (max-width: 991px) {
    .path-contact .contact-message-feedback-form,
    .node-webform-form,
    .user-login-form,
    .user-register-form {
      width: 80%; } }
  @media (max-width: 767px) {
    .path-contact .contact-message-feedback-form,
    .node-webform-form,
    .user-login-form,
    .user-register-form {
      width: 100%; } }
  .path-contact .contact-message-feedback-form .webform-file-button,
  .node-webform-form .webform-file-button,
  .user-login-form .webform-file-button,
  .user-register-form .webform-file-button {
    display: inline-block !important; }
  .path-contact .contact-message-feedback-form .form-item-mail label, .path-contact .contact-message-feedback-form .form-item-name label,
  .node-webform-form .form-item-mail label,
  .node-webform-form .form-item-name label,
  .user-login-form .form-item-mail label,
  .user-login-form .form-item-name label,
  .user-register-form .form-item-mail label,
  .user-register-form .form-item-name label {
    display: block; }
  .path-contact .contact-message-feedback-form .form-item label,
  .node-webform-form .form-item label,
  .user-login-form .form-item label,
  .user-register-form .form-item label {
    font-size: 16px; }
  .path-contact .contact-message-feedback-form #edit-preview,
  .node-webform-form #edit-preview,
  .user-login-form #edit-preview,
  .user-register-form #edit-preview {
    display: none; }
  .path-contact .contact-message-feedback-form #edit-submit, .path-contact .contact-message-feedback-form #edit-actions-submit,
  .node-webform-form #edit-submit,
  .node-webform-form #edit-actions-submit,
  .user-login-form #edit-submit,
  .user-login-form #edit-actions-submit,
  .user-register-form #edit-submit,
  .user-register-form #edit-actions-submit {
    background: #e84c3d;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    margin: 40px auto 0;
    display: block; }
    .path-contact .contact-message-feedback-form #edit-submit:hover, .path-contact .contact-message-feedback-form #edit-submit:focus, .path-contact .contact-message-feedback-form #edit-submit:active, .path-contact .contact-message-feedback-form #edit-actions-submit:hover, .path-contact .contact-message-feedback-form #edit-actions-submit:focus, .path-contact .contact-message-feedback-form #edit-actions-submit:active,
    .node-webform-form #edit-submit:hover,
    .node-webform-form #edit-submit:focus,
    .node-webform-form #edit-submit:active,
    .node-webform-form #edit-actions-submit:hover,
    .node-webform-form #edit-actions-submit:focus,
    .node-webform-form #edit-actions-submit:active,
    .user-login-form #edit-submit:hover,
    .user-login-form #edit-submit:focus,
    .user-login-form #edit-submit:active,
    .user-login-form #edit-actions-submit:hover,
    .user-login-form #edit-actions-submit:focus,
    .user-login-form #edit-actions-submit:active,
    .user-register-form #edit-submit:hover,
    .user-register-form #edit-submit:focus,
    .user-register-form #edit-submit:active,
    .user-register-form #edit-actions-submit:hover,
    .user-register-form #edit-actions-submit:focus,
    .user-register-form #edit-actions-submit:active {
      background: #c7392b; }

/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1199px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; }

  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #fff; } }
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1; }

.demo-card:nth-child(2) {
  order: 7; }

.demo-card:nth-child(3) {
  order: 2; }

.demo-card:nth-child(4) {
  order: 8; }

.demo-card:nth-child(5) {
  order: 3; }

.demo-card:nth-child(6) {
  order: 9; }

.demo-card:nth-child(7) {
  order: 4; }

.demo-card:nth-child(8) {
  order: 10; }

.demo-card:nth-child(9) {
  order: 5; }

.demo-card:nth-child(10) {
  order: 11; }

#timeline {
  padding: 30px 0 0;
  border-bottom: 1px solid rgba(191, 191, 191, 0.4); }
  #timeline h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 20px; }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: 24px;
    margin-bottom: 45px; }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
    z-index: 0; }
    @media (min-width: 1199px) {
      #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 2630px;
        margin: 0 auto; } }
    #timeline .demo-card-wrapper::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid rgba(191, 191, 191, 0.4); }
      @media (min-width: 1199px) {
        #timeline .demo-card-wrapper::after {
          border-left: 1px solid #bdbdbd; } }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px 0;
    max-width: 100%;
    z-index: 2; }
    @media (min-width: 480px) {
      #timeline .demo-card {
        max-width: 75%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07); } }
    @media (min-width: 720px) {
      #timeline .demo-card {
        max-width: 75%; } }
    @media (min-width: 1199px) {
      #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-top: 45px;
        margin-bottom: 45px; }
        #timeline .demo-card:nth-child(odd) {
          margin-right: 45px; }
          #timeline .demo-card:nth-child(odd) .head::after {
            border-left-width: 15px;
            border-left-style: solid;
            left: 100%; }
          #timeline .demo-card:nth-child(odd) .head::before {
            left: 491.5px; }
        #timeline .demo-card:nth-child(even) {
          margin-left: 45px; }
          #timeline .demo-card:nth-child(even) .head::after {
            border-right-width: 15px;
            border-right-style: solid;
            right: 100%; }
          #timeline .demo-card:nth-child(even) .head::before {
            right: 489.5px; }
        #timeline .demo-card:nth-child(2) {
          margin-top: 180px; } }
    #timeline .demo-card .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400; }
      #timeline .demo-card .head .number-box {
        display: inline;
        float: left;
        margin: 15px;
        font-family: arial;
        padding: 10px;
        font-size: 35px;
        line-height: 30px;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17); }
        @media (max-width: 767px) {
          #timeline .demo-card .head .number-box {
            margin: 0 15px 0 0; } }
      #timeline .demo-card .head h2 {
        text-transform: uppercase;
        font-size: 19px !important;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding: 6px !important; }
        @media (min-width: 480px) {
          #timeline .demo-card .head h2 {
            font-size: 26px;
            line-height: 26px;
            font-weight: 900; } }
        #timeline .demo-card .head h2 span {
          display: block;
          font-size: 20px !important;
          margin: 0;
          color: #fff;
          font-weight: bold !important;
          font-family: arial; }
          @media (min-width: 480px) {
            #timeline .demo-card .head h2 span {
              font-size: 21px; } }
    #timeline .demo-card .body {
      background: #fff;
      border: 1px solid rgba(191, 191, 191, 0.4);
      border-top: 0;
      padding: 15px; }
      @media (min-width: 1199px) {
        #timeline .demo-card .body {
          height: 320px; } }
      #timeline .demo-card .body p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px; }
      #timeline .demo-card .body img {
        display: block;
        width: 100%; }
    #timeline .demo-card--step1 {
      background-color: #46b8e9; }
      #timeline .demo-card--step1 .head::after {
        border-color: #46b8e9; }
    #timeline .demo-card--step2 {
      background-color: #3ee9d1; }
      #timeline .demo-card--step2 .head::after {
        border-color: #3ee9d1; }
    #timeline .demo-card--step3 {
      background-color: #ce43eb; }
      #timeline .demo-card--step3 .head::after {
        border-color: #ce43eb; }
    #timeline .demo-card--step4 {
      background-color: #4d92eb; }
      #timeline .demo-card--step4 .head::after {
        border-color: #4d92eb; }
    #timeline .demo-card--step5 {
      background-color: #46b8e9; }
      #timeline .demo-card--step5 .head::after {
        border-color: #46b8e9; }
    #timeline .demo-card--step6 {
      background-color: #3ee9d1; }
      #timeline .demo-card--step6 .head::after {
        border-color: #3ee9d1; }
    #timeline .demo-card--step7 {
      background-color: #ce43eb; }
      #timeline .demo-card--step7 .head::after {
        border-color: #ce43eb; }
    #timeline .demo-card--step8 {
      background-color: #4d92eb; }
      #timeline .demo-card--step8 .head::after {
        border-color: #4d92eb; }
    #timeline .demo-card--step9 {
      background-color: #46b8e9; }
      #timeline .demo-card--step9 .head::after {
        border-color: #46b8e9; }
    #timeline .demo-card--step10 {
      background-color: #3ee9d1; }
      #timeline .demo-card--step10 .head::after {
        border-color: #3ee9d1; }

@media (max-width: 767px) {
  .page-node-type-page .skills {
    display: block !important;
    padding: 0; } }
.page-node-type-page .skills .skills-wrp {
  font-family: arial;
  text-align: left;
  display: block !important;
  align-items: center;
  margin-bottom: 70px;
  width: 60%;
  margin: 30px auto;
  background: url(../images/jpg/backgroundskill.jpg) no-repeat;
  padding: 50px;
  box-shadow: 0 0 37px #cecece;
  background-size: cover; }
  @media (max-width: 991px) {
    .page-node-type-page .skills .skills-wrp {
      width: 75%; } }
  @media (max-width: 767px) {
    .page-node-type-page .skills .skills-wrp {
      width: 100%;
      padding: 4px 20px !important;
      margin: 20px 0; } }
  .page-node-type-page .skills .skills-wrp .skillpage h2 {
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #fff;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px; }
  .page-node-type-page .skills .skills-wrp .skillpage h3 {
    background: #333;
    margin: 0;
    color: #fff;
    font-weight: 300;
    padding: 10px; }
  .page-node-type-page .skills .skills-wrp .skillpage .skillbar-title {
    background: #030303;
    color: #fff;
    border-radius: 0 !important; }
    @media (max-width: 991px) {
      .page-node-type-page .skills .skills-wrp .skillpage .skillbar-title {
        position: relative !important;
        width: auto !important; } }
    .page-node-type-page .skills .skills-wrp .skillpage .skillbar-title span {
      height: auto !important;
      min-height: auto !important;
      padding: 0 !important;
      font-size: 20px !important;
      line-height: 20px !important; }
  .page-node-type-page .skills .skills-wrp .skillpage .skillbar {
    margin: 40px 0;
    height: auto; }
    .page-node-type-page .skills .skills-wrp .skillpage .skillbar .skillbar-bar {
      height: auto !important; }
  .page-node-type-page .skills .skills-wrp .skillpage .skill-bar-percent {
    font-size: 15px !important;
    height: auto !important;
    line-height: 22px !important; }
    @media (max-width: 991px) {
      .page-node-type-page .skills .skills-wrp .skillpage .skill-bar-percent {
        color: #fff; } }
  .page-node-type-page .skills .skills-wrp .skillpage .green {
    background: #59e851 !important; }
  .page-node-type-page .skills .skills-wrp .skillpage .orange {
    background: #e8af51 !important; }
  .page-node-type-page .skills .skills-wrp .skillpage .green-orange {
    background: #c6e851 !important; }
  .page-node-type-page .skills .skills-wrp .skillpage .red {
    background: #e85151 !important; }

.keepintouch {
  border-left: 1px solid #dedede;
  padding: 0 50px 0 100px; }
  @media (max-width: 991px) {
    .keepintouch {
      padding: 0;
      border: none;
      margin: 35px 0; } }
  .keepintouch .block-title {
    text-transform: capitalize !important;
    text-align: center;
    margin: 0 !important;
    font-weight: 400 !important;
    font-size: 25px !important;
    display: block !important;
    height: auto !important;
    box-shadow: none !important;
    color: #333 !important;
    padding: 10px !important; }
    @media (max-width: 767px) {
      .keepintouch .block-title {
        font-size: 20px !important; } }

.webform-submission-keep-in-touch-form label {
  display: none !important; }
.webform-submission-keep-in-touch-form .form-item {
  margin: 17px 0; }
  .webform-submission-keep-in-touch-form .form-item input, .webform-submission-keep-in-touch-form .form-item textarea {
    border: none;
    padding: 15px;
    height: auto;
    border-radius: 0;
    box-shadow: 0 0 5px #ececec; }
.webform-submission-keep-in-touch-form input {
  width: 100% !important; }
.webform-submission-keep-in-touch-form .form-actions {
  text-align: center; }
  .webform-submission-keep-in-touch-form .form-actions button {
    background: #e84c3d;
    padding: 10px 25px;
    border-color: #e84c3d; }
    .webform-submission-keep-in-touch-form .form-actions button.active {
      background: #e84c3d;
      border-color: #e84c3d; }

@media (max-width: 767px) {
  .page-node-type-blogs section.col-sm-9 {
    padding: 0; } }

/*Blogs landing page*/
.blog-page-wrp {
  background: #fff;
  padding: 50px; }
  @media (max-width: 767px) {
    .blog-page-wrp {
      padding: 15px; } }
  .blog-page-wrp .roww {
    margin: 20px 0; }
    .blog-page-wrp .roww .field--label {
      color: #909090;
      font-weight: 400;
      text-transform: uppercase; }
    .blog-page-wrp .roww.body .content-wrp {
      font-size: 16px;
      font-family: arial; }
      .blog-page-wrp .roww.body .content-wrp .header h2 {
        font-weight: 700;
        margin: 25px 0;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 11px; }
      .blog-page-wrp .roww.body .content-wrp h3 {
        margin: 25px 0 0; }
      .blog-page-wrp .roww.body .content-wrp img {
        margin: 15px 0 30px 0;
        width: 100%; }
      .blog-page-wrp .roww.body .content-wrp ul {
        padding: 0; }
        .blog-page-wrp .roww.body .content-wrp ul li {
          margin: 6px 0;
          list-style: none;
          text-indent: -15px;
          padding: 0 0 0 15px; }
          .blog-page-wrp .roww.body .content-wrp ul li::before {
            content: '';
            padding: 5.5px;
            background-color: #e84c3d;
            margin-right: 10px;
            display: inline-block; }
    .blog-page-wrp .roww.readtime, .blog-page-wrp .roww.author {
      font-size: 12px;
      margin: 2px 0 !important; }
      .blog-page-wrp .roww.readtime .content, .blog-page-wrp .roww.author .content {
        font-family: arial; }
    .blog-page-wrp .roww.tags .field--label {
      font-size: 15px;
      font-weight: 600; }
      @media (max-width: 991px) {
        .blog-page-wrp .roww.tags .field--label {
          float: none;
          margin: 6px 0; } }
    .blog-page-wrp .roww.tags .field--item {
      margin: 0 0 10px 0; }
      @media (max-width: 991px) {
        .blog-page-wrp .roww.tags .field--item {
          float: none;
          margin: 6px 0; } }
      .blog-page-wrp .roww.tags .field--item a {
        background: #565656;
        color: #fff;
        padding: 5px 20px;
        text-align: left; }
    .blog-page-wrp .roww.comments {
      margin: 140px 0 0;
      display: block; }
      @media (max-width: 991px) {
        .blog-page-wrp .roww.comments {
          margin: 50px 0; } }

.webform-confirmation {
  font-size: 23px;
  color: #54a859;
  margin: 125px 0;
  padding: 25px;
  background: #ebf7eb; }
  @media (max-width: 991px) {
    .webform-confirmation {
      padding: 25px 0; } }
  @media (max-width: 767px) {
    .webform-confirmation {
      margin: 30px 0; } }
  .webform-confirmation .webform-confirmation__message {
    margin: 10px 0 0;
    background: url(../images/png/tick.png) no-repeat top;
    padding: 16px 16px 0;
    background-size: 125px;
    padding-top: 150px;
    display: inline-block; }
  .webform-confirmation a {
    text-decoration: underline;
    font-size: 18px; }

.blogs-sidebar .view-header h2 {
  font-size: 23px;
  box-shadow: none;
  margin: 0;
  padding: 15px;
  background: #303030;
  color: #fff; }
.blogs-sidebar .view-content {
  padding: 5px 30px;
  background: #e8e8e8; }
  .blogs-sidebar .view-content .blogs-wrp {
    border-bottom: 1px solid #dadada;
    padding: 25px 0; }
  .blogs-sidebar .view-content .title a {
    color: #333;
    line-height: 25px;
    font-size: 23px;
    font-weight: 700; }
  .blogs-sidebar .view-content .viewmoree {
    text-align: center;
    margin: 20px 0 0; }
    .blogs-sidebar .view-content .viewmoree a {
      background: #e84c3d;
      color: #fff;
      font-weight: 500;
      padding: 7px 10px;
      text-decoration: none; }
      .blogs-sidebar .view-content .viewmoree a :hover {
        background: #772323; }
.blogs-sidebar .about-wrpper {
  padding: 50px 0; }
  .blogs-sidebar .about-wrpper .bgimg {
    width: 161px;
    height: 200px;
    background-size: 323px;
    margin: 0 auto;
    padding: 0 !important; }
  .blogs-sidebar .about-wrpper p {
    text-align: center;
    font-size: 18px;
    font-weight: 600; }

.skillsicons h2.skills-head {
  padding: 10px;
  text-align: center;
  font-size: 41px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  background: #e84b3c; }
.skillsicons .roww {
  background: #fff;
  text-align: center;
  margin: 25px auto;
  padding: 30px;
  box-shadow: 0 0 18px #e2e2e2; }
  .skillsicons .roww img {
    width: auto;
    height: 85px;
    margin: 15px 25px 0 0;
    object-fit: contain; }
  .skillsicons .roww h2 {
    margin: 0 !important;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e0e0e0; }

.experience h2, .education h2 {
  padding: 10px;
  text-align: center;
  font-size: 41px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  background: #e84b3c; }
.experience .roww, .education .roww {
  display: flex;
  background: #fff;
  margin: 15px 0;
  padding: 20px;
  box-shadow: 0 0 10px #f3f3f3; }
  .experience .roww img, .education .roww img {
    height: 50px;
    margin: 0 15px 0 0; }
  .experience .roww h3, .education .roww h3 {
    font-size: 17px !important;
    margin: 0 !important;
    font-weight: 600; }
  .experience .roww .year, .education .roww .year {
    font-family: arial;
    color: #797979; }

.skillset p {
  background: #f3f3f3;
  padding: 10px 25px;
  font-size: 17px;
  font-weight: 500;
  margin: 10px;
  letter-spacing: 3px; }

.welcome-block p {
  text-align: center;
  margin: 50px;
  font-size: 20px; }

/*Footer Block*/
footer {
  color: #fff;
  background: #101010;
  width: 100% !important;
  text-align: center;
  padding: 100px 50px 40px !important;
  font-weight: 300;
  font-size: 18px; }
  @media (max-width: 767px) {
    footer {
      padding: 0 5px 75px !important; } }
  footer .footermenu {
    margin: 40px 0 10px; }
    footer .footermenu a {
      color: #fff;
      padding: 0 15px;
      border-left: 1px solid white;
      text-decoration: none; }
      @media (max-width: 575px) {
        footer .footermenu a {
          padding: 0 10px !important; } }
      footer .footermenu a:first-child {
        border: none; }
  footer .favicons {
    margin: 30px 0; }
    footer .favicons svg {
      color: #fff;
      width: 30px !important;
      height: 30px !important;
      border: 2px solid #fff;
      padding: 10px;
      margin: 10px;
      border-radius: 50px; }
      footer .favicons svg:hover {
        color: #e84c3d;
        background: #fff;
        transition: 0.8s; }
  footer .quotes p {
    font-size: 35px; }
    @media (max-width: 767px) {
      footer .quotes p {
        font-size: 24px !important; } }
  footer .logo img {
    width: 75px;
    margin: 30px 0 40px 0; }
  footer .logo .logo-img {
    background: url(../logo.svg) no-repeat center;
    width: 175px;
    height: 75px;
    background-size: 175px;
    margin: auto; }

.modal-backdrop {
  z-index: 0 !important; }

.footer-contact-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ea5c51;
  border-radius: 10px;
  padding: 25px;
  margin: 0;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 45%; }
  @media (max-width: 991px) {
    .footer-contact-wrap {
      display: block;
      position: relative;
      width: 95%;
      text-align: center;
      color: #fff;
      padding: 15px 10px;
      top: 0;
      transform: none;
      left: 0;
      margin: 10px auto 0; } }
  .footer-contact-wrap h2 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase; }
  .footer-contact-wrap a {
    text-decoration: underline;
    color: #fff; }
  .footer-contact-wrap .viewmore {
    max-width: unset !important;
    margin: unset !important; }
  .footer-contact-wrap p {
    margin: 0 !important;
    font-size: 24px;
    text-align: center; }

/*Banner block design starts*/
.banner {
  background-size: 110% 110%;
  background-position: center center;
  animation: shrink 4s infinite alternate;
  background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.55)), url(../images/jpg/banner.jpeg) no-repeat center fixed;
  display: flex;
  align-items: center;
  background-size: cover;
  min-height: 50vw;
  justify-content: center; }
  .banner .banner-overlay {
    font-size: 7vmin;
    color: #fff;
    text-align: center;
    padding: 25px; }
    .banner .banner-overlay p {
      line-height: normal; }
      .banner .banner-overlay p span {
        color: #e84c3d;
        font-weight: bold; }
      @media (max-width: 767px) {
        .banner .banner-overlay p {
          font-size: 22px !important; } }
  .banner .viewmore a {
    font-size: 4vmin; }
  @media (max-width: 767px) {
    .banner {
      display: none !important; } }

@keyframes shrink {
  0% {
    background-size: 110% 110%; }
  100% {
    background-size: 100% 100%; } }
/*Banner block design ends*/
/*About page starts*/
.about-block .block-title {
  margin: 20px 0 50px !important; }
@includ media-breakpoint-down(sm) {
  .about-block .block-title {
    margin: 0 0 25px !important; } }
.about-block .about-wrp {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-align: left;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .about-block .about-wrp {
      align-items: flex-start; } }
  @media (max-width: 767px) {
    .about-block .about-wrp {
      display: block; } }
  .about-block .about-wrp .propic {
    width: 30%; }
    @media (max-width: 991px) {
      .about-block .about-wrp .propic {
        width: 25%; } }
    @media (max-width: 767px) {
      .about-block .about-wrp .propic {
        display: flex;
        justify-content: center;
        width: 100%; } }
    @media (max-width: 575px) {
      .about-block .about-wrp .propic {
        display: block; } }
    @media (max-width: 575px) {
      .about-block .about-wrp .propic img {
        width: auto;
        margin: auto; } }
  .about-block .about-wrp .desc-wrp {
    width: 70%;
    padding: 20px 0 20px 50px; }
    @media (max-width: 991px) {
      .about-block .about-wrp .desc-wrp {
        width: 75%;
        padding: 0 0 0 35px; } }
    @media (max-width: 767px) {
      .about-block .about-wrp .desc-wrp {
        width: 100%;
        padding: 0;
        margin: 20px 0; } }
    @media (max-width: 991px) {
      .about-block .about-wrp .desc-wrp h2 {
        margin: 0; } }
    .about-block .about-wrp .desc-wrp .viewmore {
      text-align: left; }
      @media (max-width: 767px) {
        .about-block .about-wrp .desc-wrp .viewmore {
          text-align: center; } }
      .about-block .about-wrp .desc-wrp .viewmore a {
        margin: 1em 0; }
    .about-block .about-wrp .desc-wrp p .color,
    .about-block .about-wrp .desc-wrp p span {
      font-weight: 800;
      color: #e84c3d; }

/*About page ends*/
.js-quickedit-main-content .about-block, .js-quickedit-main-content .what-we-do {
  text-align: center;
  padding: 25px 0 50px; }
.js-quickedit-main-content .about-block {
  background: #fdf5f4; }
.js-quickedit-main-content .what-we-do {
  background: linear-gradient(0deg, #000000d9, rgba(0, 0, 0, 0.55)), url(../images/jpg/thingido.jpg) no-repeat center fixed;
  background-size: cover;
  color: #fff;
  font-size: 22px;
  font-weight: 600; }
.js-quickedit-main-content .block-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
  display: inline-block;
  height: 50px;
  box-shadow: 0 27px 0 -23px #e84c3d; }

@media (max-width: 767px) {
  .what-we-do .thingsido {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    font-size: 19px; } }
.what-we-do .thingsido .thingsido-overlay {
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 767px) {
    .what-we-do .thingsido .thingsido-overlay {
      display: block; } }
  .what-we-do .thingsido .thingsido-overlay .left {
    text-align: right; }
    @media (max-width: 767px) {
      .what-we-do .thingsido .thingsido-overlay .left {
        text-align: left; } }
    @media (max-width: 767px) {
      .what-we-do .thingsido .thingsido-overlay .left p {
        padding: 10px 0 0 60px !important; } }
    .what-we-do .thingsido .thingsido-overlay .left p.graphic {
      background: url(../images/png/icons/graphicdesign.png) no-repeat center right;
      padding: 10px 65px;
      height: 50px; }
      @media (max-width: 767px) {
        .what-we-do .thingsido .thingsido-overlay .left p.graphic {
          background-position: left; } }
    .what-we-do .thingsido .thingsido-overlay .left p.drupal {
      background: url(../images/png/icons/drupal.png) no-repeat center right;
      padding: 10px 65px;
      height: 50px; }
      @media (max-width: 767px) {
        .what-we-do .thingsido .thingsido-overlay .left p.drupal {
          background-position: left; } }
    .what-we-do .thingsido .thingsido-overlay .left p.ui {
      background: url(../images/png/icons/ui-ux.png) no-repeat center right;
      padding: 10px 65px;
      height: 50px; }
      @media (max-width: 767px) {
        .what-we-do .thingsido .thingsido-overlay .left p.ui {
          background-position: left; } }
  .what-we-do .thingsido .thingsido-overlay .right {
    text-align: left; }
    @media (max-width: 767px) {
      .what-we-do .thingsido .thingsido-overlay .right p {
        padding: 10px 0 0 60px !important; } }
    .what-we-do .thingsido .thingsido-overlay .right p.web {
      background: url(../images/png/icons/web-design.png) no-repeat center left;
      padding: 10px 65px;
      height: 50px; }
    .what-we-do .thingsido .thingsido-overlay .right p.logo {
      background: url(../images/png/icons/logodesign.png) no-repeat center left;
      padding: 10px 65px;
      height: 50px; }
    .what-we-do .thingsido .thingsido-overlay .right p.photo {
      background: url(../images/png/icons/photore.png) no-repeat center left;
      padding: 10px 65px;
      height: 50px; }

/*Featured Block starts*/
.featured-block {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.7)), url(../images/jpg/featureblock.jpg);
  background-color: #ffffff;
  background-size: cover;
  color: #333;
  text-align: center;
  background-position: bottom;
  padding: 20px 0 30px 0; }
  .featured-block .viewmore a.red {
    margin: 20px 5px !important; }
  .featured-block .block-title {
    margin: 50px 0 25px !important; }
  .featured-block .featured-wrp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 60px;
    margin: 20px 0 50px; }
    @media (max-width: 991px) {
      .featured-block .featured-wrp {
        padding: 0 10px; } }
    @media (max-width: 767px) {
      .featured-block .featured-wrp {
        margin: 10px 0;
        display: block; } }
    .featured-block .featured-wrp .featured-img {
      width: 60%;
      padding: 50px; }
      @media (max-width: 991px) {
        .featured-block .featured-wrp .featured-img {
          width: 50%; } }
      @media (max-width: 767px) {
        .featured-block .featured-wrp .featured-img {
          width: 100%;
          padding: 20px; } }
      .featured-block .featured-wrp .featured-img img {
        width: 100%; }
    .featured-block .featured-wrp .content-wrp {
      text-align: left;
      width: 40%; }
      @media (max-width: 991px) {
        .featured-block .featured-wrp .content-wrp {
          width: 70%; } }
      @media (max-width: 767px) {
        .featured-block .featured-wrp .content-wrp {
          width: 100%;
          padding: 0 35px; } }
      .featured-block .featured-wrp .content-wrp .title a {
        color: #e84c3d;
        font-weight: 800;
        font-size: 28px;
        margin: 5px 0;
        display: inline-block;
        text-decoration: none; }
        @media (max-width: 991px) {
          .featured-block .featured-wrp .content-wrp .title a {
            font-size: 24px; } }
      .featured-block .featured-wrp .content-wrp .body {
        font-size: 17px; }
        @media (max-width: 991px) {
          .featured-block .featured-wrp .content-wrp .body {
            font-size: 14px; } }
      .featured-block .featured-wrp .content-wrp .viewmore {
        text-align: left; }

.skills {
  text-align: center; }
  .skills .skills-wrp {
    display: flex;
    align-items: center;
    margin-bottom: 70px; }
    @media (max-width: 991px) {
      .skills .skills-wrp {
        display: block;
        padding: 0 20px 0 0; } }
    @media (max-width: 767px) {
      .skills .skills-wrp {
        padding: 0; } }
    @media (max-width: 991px) {
      .skills .skills-wrp .fadeInLeftBig {
        padding: 5px; } }
    @media (max-width: 767px) {
      .skills .skills-wrp .fadeInLeftBig {
        margin-left: 0;
        margin-right: 0; } }
    .skills .skills-wrp .skillbar {
      position: relative;
      display: block;
      margin-bottom: 15px;
      width: 100%;
      background: #e6e6e6;
      height: 35px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -webkit-transition: 0.4s linear;
      -moz-transition: 0.4s linear;
      -ms-transition: 0.4s linear;
      -o-transition: 0.4s linear;
      transition: 0.4s linear;
      -webkit-transition-property: width, background-color;
      -moz-transition-property: width, background-color;
      -ms-transition-property: width, background-color;
      -o-transition-property: width, background-color;
      transition-property: width, background-color; }
    .skills .skills-wrp .skillbar-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
      font-weight: 500;
      font-size: 15px;
      color: #333333;
      background: #ffffff;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .skills .skills-wrp .skillbar-title span {
      display: block;
      padding: 0 20px;
      height: 35px;
      line-height: 35px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .skills .skills-wrp .skillbar-bar {
      height: 35px;
      width: 0px;
      background: #9d9c9c;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .skills .skills-wrp .skill-bar-percent {
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 11px;
      height: 35px;
      line-height: 35px;
      color: #000000; }
    .skills .skills-wrp .developer-img {
      background: url("../images/png/developer.png") no-repeat;
      width: 100%;
      height: 439px;
      background-size: contain;
      background-position: center; }
      @media (max-width: 767px) {
        .skills .skills-wrp .developer-img {
          height: 350px; } }

/*About page works*/
.about-works {
  text-align: center;
  margin: 20px 0 60px; }
  .about-works .views-row {
    padding: 0 15px; }
    @media (max-width: 767px) {
      .about-works .views-row {
        padding: 0 20px; } }

.contact-header .about-wrpper {
  padding: 0; }
  .contact-header .about-wrpper .bgimg {
    margin: 0 auto !important; }
.contact-header .favicons {
  text-align: center;
  margin: 15px 0 0; }
  .contact-header .favicons a {
    color: #fff;
    padding: 5px 11px;
    margin: 15px 5px 0 0;
    display: inline-block;
    font-size: 23px; }
    @media (max-width: 575px) {
      .contact-header .favicons a {
        margin: 15px -5px 0 0; } }
    .contact-header .favicons a.behance {
      background: #3379fb; }
    .contact-header .favicons a.linkedin {
      background: #0174b3; }
    .contact-header .favicons a.facebook {
      background: #3a559f; }
    .contact-header .favicons a.instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
    .contact-header .favicons a.whatsap {
      background: #6cd366; }
    .contact-header .favicons a.phone {
      background: #54a959; }
    .contact-header .favicons a.mail {
      background: #e84c3d; }
.contact-header .contactpage {
  margin: 25px 0 10px; }
  .contact-header .contactpage span.label {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px 0 0;
    width: 22%;
    display: inline-block;
    text-align: left; }
  .contact-header .contactpage span.content {
    font-family: arial;
    font-size: 17px; }

/*Social icon sticky starts*/
.region-content-top .favicons {
  right: 0;
  position: fixed;
  top: 50%;
  z-index: 11;
  color: #fff; }
  @media (max-width: 991px) {
    .region-content-top .favicons {
      right: 0;
      bottom: 0;
      top: unset;
      left: 0;
      background: #333;
      display: inline-flex; } }
  .region-content-top .favicons a {
    display: flex;
    color: #fff;
    font-size: 21px;
    padding: 10px;
    justify-content: center; }
    @media (max-width: 991px) {
      .region-content-top .favicons a {
        display: unset;
        margin: 0 !important;
        text-align: center;
        width: 17%; } }
    .region-content-top .favicons a.phone {
      background: #54a959; }
    .region-content-top .favicons a.whatsup {
      background: #6cd366; }
    .region-content-top .favicons a.behance {
      background: #3379fb; }
    .region-content-top .favicons a.linkedin {
      background: #0174b3; }
    .region-content-top .favicons a.facebook {
      background: #3a559f; }
    .region-content-top .favicons a.instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

/*Related works block*/
.sidebar-works {
  background: #f8f8f8;
  margin-top: 38px; }
  .sidebar-works .slick-list {
    margin: 35px; }
  .sidebar-works h2.block-title {
    color: #ffffff;
    background-size: cover;
    font-size: 19px;
    background: #333333;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    box-shadow: none;
    height: auto !important; }
    @media screen and (max-width: 767px) {
      .sidebar-works h2.block-title {
        font-size: 25px; } }
  .sidebar-works .about-works {
    margin: 0 !important; }
    .sidebar-works .about-works .slick__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .sidebar-works .about-works .realted-works-wrapper .work-img {
      margin: 0; }
    .sidebar-works .about-works .realted-works-wrapper .wrp .work-title {
      font-size: 19px;
      text-align: center;
      margin: 0 0 30px; }
      .sidebar-works .about-works .realted-works-wrapper .wrp .work-title a {
        color: #fff;
        background: #e84c42;
        margin: 0 !important;
        display: block;
        padding: 5px;
        font-weight: bold; }
    .sidebar-works .about-works .more-link a {
      font-size: 14px;
      margin: 30px 0; }

/*Webform block*/
.webform-aboutblock {
  text-align: center; }

.feedback-block {
  font-size: 19px;
  padding: 0 0 75px 0;
  text-align: center;
  background: #e6e6e6; }
  .feedback-block .quotes {
    background: url(../images/png/quotes.png) no-repeat;
    width: 70px;
    height: 70px;
    background-size: 70px;
    margin: 20px auto; }
  .feedback-block .form-item-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 23px; }
  .feedback-block .form-item-message {
    text-transform: capitalize;
    font-style: italic; }
  .feedback-block label {
    display: none; }

.banner-mobile {
  display: none; }
  @media (max-width: 767px) {
    .banner-mobile {
      display: block; } }
  @media (max-width: 767px) {
    .banner-mobile .banner {
      display: block !important;
      min-height: initial; } }
  @media (max-width: 767px) {
    .banner-mobile .banner .viewmore {
      display: none !important; } }

/*Expertise block*/
.expertise-block {
  text-align: center;
  background: #333333; }
  .expertise-block .block-title {
    color: #fff; }
  .expertise-block .expert {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 125px auto; }
    @media (max-width: 991px) {
      .expertise-block .expert {
        display: block; } }
    .expertise-block .expert .col {
      padding: 80px 40px;
      background: #fff;
      width: 34%;
      font-size: 45px;
      border: 1px solid #f5f5f5; }
      @media (max-width: 991px) {
        .expertise-block .expert .col {
          width: 90%;
          margin: 20px auto;
          padding: 40px; } }
      .expertise-block .expert .col p {
        font-family: arial;
        font-size: 26px; }
      .expertise-block .expert .col h2 {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 800; }
      .expertise-block .expert .col:hover {
        background: #e84c3d;
        transform: scale(1.1);
        transition: 0.5s;
        color: #fff;
        border-color: #e84c3d; }

/*Portfolio-list*/
.works-list .featured-wrp {
  display: flex !important;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #e2e2e2;
  align-items: center; }
  .works-list .featured-wrp .views-field-field-image {
    width: 20%; }
  .works-list .featured-wrp .content-wrp-list {
    width: 73%;
    text-align: left;
    margin-left: 15px; }
    .works-list .featured-wrp .content-wrp-list .left {
      width: 85%;
      display: inline-block; }
      .works-list .featured-wrp .content-wrp-list .left .title a {
        color: #333;
        font-weight: 600;
        text-decoration: underline; }
      @media (max-width: 575px) {
        .works-list .featured-wrp .content-wrp-list .left .category {
          display: none; } }
      .works-list .featured-wrp .content-wrp-list .left .category a {
        background: #f7f7f7;
        color: #000;
        font-weight: 300;
        padding: 3px 5px;
        margin: 5px 0;
        font-size: 13px;
        display: inline-block;
        pointer-events: none; }
    .works-list .featured-wrp .content-wrp-list .viewmore-list {
      text-align: right;
      margin: 10px 0;
      background: #e84c3db3;
      display: inline-block;
      float: right;
      border-radius: 53px;
      padding: 3px 1px; }
      .works-list .featured-wrp .content-wrp-list .viewmore-list a {
        background: url(../images/svg/r_arrow-lg.svg) top -1px center no-repeat;
        font-size: 0 !important;
        padding: 12px;
        background-size: 15px; }

/*portfolio page grid and list view*/
.grid-list {
  text-align: left;
  margin: 20px 0 15px; }
  .grid-list a {
    font-size: 22px;
    margin: 0 5px;
    display: inline-block;
    color: #97969f; }
    .grid-list a:hover {
      color: #e84c3d; }

/*Work process*/
.work-process-block {
  text-align: center;
  background: linear-gradient(0deg, #000000d9, rgba(0, 0, 0, 0.55)), url(../images/jpg/workprocess.png) no-repeat top fixed;
  background-size: cover;
  color: #fff;
  font-size: 22px;
  font-weight: 600; }
  .work-process-block .work {
    margin-bottom: 95px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .work-process-block .work .col {
      border: 4px solid #fff;
      margin: 10px 20px;
      padding: 30px 0;
      width: 12%; }
      @media (max-width: 991px) {
        .work-process-block .work .col {
          width: 27%; } }
      @media (max-width: 767px) {
        .work-process-block .work .col {
          width: 85%; } }
      .work-process-block .work .col h2 {
        font-size: 17px !important; }
      .work-process-block .work .col::after {
        content: "→";
        margin-top: -10px;
        position: absolute;
        right: -38px;
        top: 45%; }
        @media (max-width: 991px) {
          .work-process-block .work .col::after {
            display: none; } }
      .work-process-block .work .col:last-child::after {
        display: none; }

.blogs-wrp-block, .path-blogs {
  text-align: center;
  padding: 0 0 75px; }
  .blogs-wrp-block .blogs-wrp, .path-blogs .blogs-wrp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ffeae8;
    padding: 50px;
    color: #000;
    box-shadow: 0 0 30px #e4e4e4; }
    @media (max-width: 991px) {
      .blogs-wrp-block .blogs-wrp, .path-blogs .blogs-wrp {
        display: block;
        padding: 20px; } }
    .blogs-wrp-block .blogs-wrp .b-left, .path-blogs .blogs-wrp .b-left {
      width: 48%; }
      @media (max-width: 991px) {
        .blogs-wrp-block .blogs-wrp .b-left, .path-blogs .blogs-wrp .b-left {
          width: 100%; } }
    .blogs-wrp-block .blogs-wrp .b-right, .path-blogs .blogs-wrp .b-right {
      text-align: left;
      width: 49%;
      padding-left: 25px;
      margin-left: 25px;
      border-left: 1px solid #e84c3d; }
      @media (max-width: 991px) {
        .blogs-wrp-block .blogs-wrp .b-right, .path-blogs .blogs-wrp .b-right {
          width: 100%;
          padding: 0;
          margin: 0;
          border: none; } }
      .blogs-wrp-block .blogs-wrp .b-right .title a, .path-blogs .blogs-wrp .b-right .title a {
        color: #333333;
        font-weight: 800;
        font-size: 40px;
        text-decoration: none;
        line-height: 41px; }
        @media (max-width: 767px) {
          .blogs-wrp-block .blogs-wrp .b-right .title a, .path-blogs .blogs-wrp .b-right .title a {
            font-size: 30px !important;
            line-height: 30px; } }
      .blogs-wrp-block .blogs-wrp .b-right .caption, .path-blogs .blogs-wrp .b-right .caption {
        background: #e84c3d;
        color: #fff;
        padding: 5px 20px;
        margin: 0 0 15px;
        font-size: 17px;
        font-weight: 600;
        display: inline-block; }
        @media (max-width: 767px) {
          .blogs-wrp-block .blogs-wrp .b-right .caption, .path-blogs .blogs-wrp .b-right .caption {
            margin: 10px 0; } }
      .blogs-wrp-block .blogs-wrp .b-right .viewmore, .path-blogs .blogs-wrp .b-right .viewmore {
        text-align: left; }
        .blogs-wrp-block .blogs-wrp .b-right .viewmore a, .path-blogs .blogs-wrp .b-right .viewmore a {
          margin: 16px 5px; }

/*Blog page*/
.path-blogs {
  text-align: left;
  padding: 0; }
  .path-blogs .blogs-wrp {
    margin: 40px 0;
    background: #fff; }
    .path-blogs .blogs-wrp .b-right {
      border-left: 1px solid #f3f3f3; }
      .path-blogs .blogs-wrp .b-right .read-time .label {
        color: #616161;
        font-size: 13px;
        padding: 0;
        font-weight: 500;
        text-transform: uppercase; }
      .path-blogs .blogs-wrp .b-right .read-time .rt {
        font-size: 13px;
        text-transform: uppercase;
        color: #616161;
        font-family: arial; }
      .path-blogs .blogs-wrp .b-right .author {
        font-style: italic;
        color: #797979;
        font-size: 13px; }
        .path-blogs .blogs-wrp .b-right .author .label {
          color: #797979;
          font-weight: 400;
          font-size: 13px;
          padding: 0;
          margin: 10px 5px 10px 0;
          display: inline-block; }

@media (max-width: 767px) {
  .slick-next {
    right: 0;
    z-index: 111; } }

@media (max-width: 767px) {
  .slick-prev {
    left: -16px;
    z-index: 111; } }

.works {
  text-align: center; }
  .works .view-works .views-exposed-form {
    margin: 5px 0 35px 0; }
    .works .view-works .views-exposed-form .form-type-select label {
      font-weight: 400;
      text-transform: uppercase;
      color: #333;
      font-size: 16px;
      margin: 0 5px; }
    .works .view-works .views-exposed-form .form-type-select .select-wrapper {
      margin: 0 15px; }
      .works .view-works .views-exposed-form .form-type-select .select-wrapper select {
        border-radius: 0; }
      .works .view-works .views-exposed-form .form-type-select .select-wrapper::after {
        color: #e84c3d !important; }
    .works .view-works .views-exposed-form .btn-info {
      background: #e84c3d;
      border: #e84c3d;
      font-weight: bold; }
      .works .view-works .views-exposed-form .btn-info:hover, .works .view-works .views-exposed-form .btn-info:focus, .works .view-works .views-exposed-form .btn-info:active {
        background: #b92a1c; }
  .works .view-works .view-content {
    justify-content: center; }
    .works .view-works .view-content .views-row {
      width: 22%;
      margin: 15px; }
      @media (max-width: 991px) {
        .works .view-works .view-content .views-row {
          width: 46%; } }
      @media (max-width: 767px) {
        .works .view-works .view-content .views-row {
          width: 98%; } }
      .works .view-works .view-content .views-row img {
        width: 100%;
        height: 200px;
        border: 5px solid #ffffff;
        outline: 1px solid #af9c9b30;
        outline-offset: -6px; }
  .works .view-works .more-link a {
    border-color: #e84c3d !important;
    color: #e84c3d !important; }
    .works .view-works .more-link a:hover, .works .view-works .more-link a:focus, .works .view-works .more-link a:active {
      color: #ffffff !important;
      background-color: #e84c3d; }
    .works .view-works .more-link a::before, .works .view-works .more-link a::after {
      border-color: #e84c3d !important; }

.view-works {
  text-align: center;
  margin: 0 40px 50px !important; }
  @media (max-width: 767px) {
    .view-works {
      margin: 0 !important; } }
  .view-works .view-content .shuffle-filters-container ul li {
    font-size: 16px;
    margin: 15px 12px;
    cursor: pointer;
    background: #f8f8f8;
    padding: 6px 13px; }
    @media (max-width: 767px) {
      .view-works .view-content .shuffle-filters-container ul li {
        margin: 4px; } }
    .view-works .view-content .shuffle-filters-container ul li.active {
      color: #e84c3d;
      background: #f7f7f7;
      padding: 5px 8px !important;
      font-weight: 400;
      transform: scale(1.09);
      transition: 0.3s;
      background: #ffffff; }
  .view-works .view-content .shuffle-item {
    padding: 5px; }
  .view-works .view-content .views-field-field-image a {
    display: none; }
    .view-works .view-content .views-field-field-image a:first-child {
      display: block; }

/*# sourceMappingURL=style.css.map */
