{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.content_top: Items for the content_top region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# Top banner #}
      {% if page.top_banner %}
        {% block top_banner %}
        <div role="main" class="main-container {{ container }} js-quickedit-main-content">
          <div class="row">
            <div class="col-sm-12 banner" role="heading">
              {{ page.top_banner }}
            </div>
          </div>
        </div>
        {% endblock %}
      {% endif %}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}

    <header id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}


   {# Content top #}
      {% if page.content_top %}
        {% block content_top %}
          <div class="col-sm-12 content-top" role="heading">
            {{ page.content_top }}
          </div>
        {% endblock %}
      {% endif %}
{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}

      {% if page.content_front_about %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# Content_front_about #}
        {% block content_front_about %}
        <div class="about-block">
          <div class="container">
            {{ page.content_front_about }}
          </div>
        </div>
        {% endblock %}
      </section>
      {% else %}
        <div class="welcome-block">
          <p> Welcome to Flexy theme, to get the complete layout for this theme kindly install the dependency module <a href="https://www.drupal.org/project/flexy_mod">Flexy mod</a> </p>
        </div>
      {% endif %}

      {% if page.content_front_recent_works %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_recent_works #}
        {% block content_front_recent_works %}
        <div class="featured-block">
          {{ page.content_front_recent_works }}
        </div>
        {% endblock %}
      </section>
      {% endif %}
      
      {% if page.content_front_work_process %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_work_process #}
        {% block content_front_work_process %}
        <div class="work-process-block">
          {{ page.content_front_work_process }}
        </div>
        {% endblock %}
      </section>
      {% endif %}

      {% if page.content_front_skills %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_skills #}
        {% block content_front_skills %}
        <div class="skills">
          {{ page.content_front_skills }}
        </div>
        {% endblock %}
      </section>
      {% endif %}

      {% if page.content_front_expertise %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_expertise #}
        {% block content_front_expertise %}
        <div class="expertise-block">
          {{ page.content_front_expertise }}
        </div>
        {% endblock %}
      </section>
      {% endif %}

      {% if page.content_front_blogs %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_blogs #}
        {% block content_front_blogs %}
        <div class="blogs-wrp-block">
          {{ page.content_front_blogs }}
        </div>
        {% endblock %}
      </section>
      {% endif %}
      
      {% if page.content_front_whatwedo %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_whatwedo #}
        {% block content_front_whatwedo %}
        <div class="what-we-do">
          {{ page.content_front_whatwedo }}
        </div>
        {% endblock %}
      </section>
      {% endif %}

      {% if page.content_front_works %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# content_front_whatwedo #}
        {% block content_front_works %}
        <div class="about-works">
          {{ page.content_front_works }}
        </div>
        {% endblock %}
      </section>
      {% endif %}

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endblock %}
{% endif %}

<div class="disabled hide">
{{ page.disabled }}
</div>