{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div class="about-wrpper wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
    <div class="body wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
      <h2>Web/Graphical Designer - UI Developer - Drupal Developer</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="bgimg-wrp">
      <div class="bg-circle"></div>
      <div class="bgimg"></div>
    </div>
    <div class="ui">ui</div>
    <div class="body-desc wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
      <div class="desc">{{ content.field_main_description }}</div>
    </div>
    <div class="details-wrapper">
      <div class="design col wow fadeInLeftBig" data-wow-delay="1s" data-wow-duration="1s" data-wow-offset="100" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeftBig;">
        <div class="design-icon">design</div>
        <h2>Design</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <h3>What We do</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <h3>Development Tools</h3>
        <ul class="tools">
          <li>Adobe Photoshop</li>
          <li>Adobe Lightroom</li>
          <li>Adobe Illustrator</li>
        </ul>
      </div>
      <div class="uiux col wow bounceInDown" data-wow-delay="1s" data-wow-duration="1s" data-wow-offset="100" style="visibility: visible; animation-duration: 1s; animation-delay: 2s; animation-name: bounceInDown;">
        <div class="ui-icon">ui</div>
        <h2>UI Development</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <h3>What We do</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        <h3>Development Tools</h3>
        <ul class="tools">
          <li>CSS3</li>
          <li>SASS</li>
          <li>Jquery</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <div class="drupal col wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s" data-wow-offset="100" style="animation-duration: 1s; animation-delay: 1s; animation-name:fadeInRight;">
        <div class="drup-icon">drupal</div>
        <h2>Drupal Development</h2>
        <p>I will develope a standardised Drupal Website(Drupal 7 or 8) from the scratch.  </p>
        <h3>What We do</h3>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <h3>Development Tools</h3>
        <ul class="tools">
          <li>Drupal 7</li>
          <li>Drupal 8</li>
          <li>PHP</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="skillsicons">
    <h2 class="skills-head">Skills</h2>
    <div class="design roww wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
      <h2>Design</h2>
       <img src="{{ directory }}/images/png/skills/ps.png">
       <img src="{{ directory }}/images/png/skills/ai.png">
    </div>
    <div class="frontend roww wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
       <h2>Front End Development</h2>
        <img src="{{ directory }}/images/png/skills/htmlcssjs.png">
        <img src="{{ directory }}/images/png/skills/scss.png">
        <img src="{{ directory }}/images/png/skills/jquery.png">
    </div>
    <div class="backend roww wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
        <h2>Back End Development</h2>
        <img src="{{ directory }}/images/png/skills/php.png">
        <img src="{{ directory }}/images/png/skills/mysql.png">
        <img src="{{ directory }}/images/png/skills/drupal.png">
    </div>
    <div class="devtools roww wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
        <h2>Development Tools</h2>
        <img src="{{ directory }}/images/png/skills/github.png">
        <img src="{{ directory }}/images/png/skills/bucket.png">
    </div>
    <div class="projectmanagemnet roww wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
        <h2>Project Management</h2>
        <img src="{{ directory }}/images/png/skills/codebase.png">
        <img src="{{ directory }}/images/png/skills/jira.png">
    </div>
    <div class="webhost roww wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s" data-wow-offset="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
        <h2>Web Hosting</h2>
        <img src="{{ directory }}/images/png/skills/cpanel.png">
        <img src="{{ directory }}/images/png/skills/filezilla.png">
    </div>
  </div>  
</article>
