/*Footer Block*/
footer {
    color: #fff;
    background: #101010;
    width: 100% !important;
    text-align: center;
    padding: 100px 50px 40px !important;
    font-weight: 300;
    font-size: 18px;
    @include media-breakpoint-down(md) {
    	//margin-top: 0 !important;
    }
    @include media-breakpoint-down(sm) {
    	padding: 0 5px 75px !important;
    }
    .footermenu {
	    margin: 40px 0 10px;
	    a {
		    color: #fff;
		    padding: 0 15px;
		    border-left: 1px solid white;
		    text-decoration: none;
		    @include media-breakpoint-down(xs) {
		    	padding: 0 10px !important;
		    }
		    &:first-child {
			    border: none;
			}
		}
	}
    .favicons {
	     margin: 30px 0;
	     svg {
		    color: #fff;
		    width: 30px !important;
		    height: 30px !important;
		    border: 2px solid #fff;
		    padding: 10px;
		    margin: 10px;
		    border-radius: 50px;
		    &:hover {
			    color: #e84c3d;
			    background: #fff;
			    transition: 0.8s;
			}
		}
	}
	.quotes {
		p {
			font-size: 35px;
			@include media-breakpoint-down(sm) {
		    	font-size: 24px !important;
		    }
		}
	}
	.logo {
		img {
			width: 75px;
    		margin: 30px 0 40px 0;
		}

		.logo-img {
			background: url(../logo.svg) no-repeat center;
			width: 175px;
			height: 75px;
			background-size: 175px;
			margin: auto;
		}
	}
	
}
.modal-backdrop {
	z-index: 0 !important;
}

.footer-contact-wrap {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: #ea5c51;
	border-radius: 10px;
	padding: 25px;
	margin: 0;
	position: absolute;
	top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #fff;
	width: 45%;
	@include media-breakpoint-down(md) {
		display: block;
		position: relative;
		width: 95%;
		text-align: center;
		color: #fff;
		padding: 15px 10px;
		top: 0;
		transform: none;
		left: 0;
		margin: 10px auto 0;
	}
	h2 {
		margin: 0;
		font-size: 35px;
		font-weight: bold;
		text-transform: uppercase;
	}
	a {
	  text-decoration: underline;
	  color: #fff;
	}
	.viewmore {
		max-width: unset !important;
		margin: unset !important;
	}
	p {
		margin: 0 !important;
		font-size: 24px;
		text-align: center;
	}
}