/*Font import starts*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 0;
}
p {
    margin: 10px 0;
    line-height: normal;
}
a {
    word-break: break-word;
}
h1, h2, h3 {
    @media screen and (max-width: 767px) {
      font-size: 28px !important;
    }
}
body {
  background: #f7f7f7;
  article div, a, p, article span, ul, li {
    @media screen and (max-width: 767px) {
      font-size: 15px !important;
    }
  }
  &.path-frontpage {
    background: #fff;
  }
}
.path-frontpage  {
  .js-quickedit-main-content {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}
.region-content {
  min-height: 500px;
}
aside {
  padding: 0 !important;
}
.about-works .pager  {
  margin: 0 0 30px !important; 
}
.about-works .pager__item {
  a {
    color: #e84c3d !important;
    border-color: #e84c3d !important;
    z-index: 0;
    font-size: 16px !important;
    border-radius: 0 !important;
    &:before, &:after {
      border-color: #e84c3d !important;
    }
    &:hover {
      &:before, &:after {
        border-color: #e84c3d;
      }
      color: #fff;
      background-color: #e84c3d;
      border-color: #e84c3d;
      text-decoration: none;
      transition: 0.5s;
      transform: scale(1.07); 
    }
  }
}
.viewmore, .more-link, .about-works .pager__item {
  text-align: center;
  position: relative;
  margin: auto;
  a {
    color: #fff;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    z-index: 0;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border-color: #454545;
      box-sizing: border-box;
      border-style: solid;
      width: 1em;
      height: 1em;
      transition: all 0.3s ease-in-out;
    }
    &:before {
      top: -6px;
      left: -6px;
      border-width: 2px 0 0 2px;
      z-index: 5;
    }
    &:after {
      bottom: -6px;
      right: -6px;
      border-width: 0 2px 2px 0;
    }
    &:hover {
      &:before, &:after {
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border-color: #fff;
      }
      color: #353535;
      background-color: #fff;
      border-color: #fff;
    }
    &.wht {
      color: #ffffff;
      border-color: #ffffff;
      &:before, &:after {
        border-color: #fff;
      }
      &:hover {
        &:before, &:after {
          border-color: #ffffff;
        }
	    color: #e84c3d;
	    background-color: #ffffff;
	    border-color: #ffffff;
	    text-decoration: none;
	    transition: 0.5s;
    	transform: scale(1.07);
      }
    }
    &.red {
      color: #e84c3d;
      border-color: #e84c3d;
      z-index: 0;
      &:before, &:after {
        border-color: #e84c3d;
      }
      &:hover {
        &:before, &:after {
          border-color: #e84c3d;
        }
      color: #fff;
      background-color: #e84c3d;
      border-color: #e84c3d;
      text-decoration: none;
      transition: 0.5s;
      transform: scale(1.07);
      }
    }
  }
}

.row {
	margin: 0 !important;
}
.col-sm-12 {
	padding: 0 !important;
}


/*Slick design*/
.slick-arrow:hover::before {
  color: #b92a1c !important;
}
.slick-arrow::before {
  color: #e84c3d !important;
  font-size: 36px !important; 
}
.slick-dots {
  padding: 20px 0;
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
  li {
    button::before {
      font-size: 15px;
      color: #d83e2f;
    }
    &.slick-active {
      button::before {
        color: #e84c3d;
      }
    }
  }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
  background: #ffffffe6;
  width: 80%;
  margin: auto;
  @include media-breakpoint-down(sm) {
    width: 98%;
  }
  .modal-header {
    background: #101010;
    text-align: center;
    color: #fff;
    h4.modal-title {
      font-size: 26px;
      font-weight: bold;
    }
    .close {
      background: red;
      opacity: 1;
      color: #fff;
      padding: 0px 8px 6px;
      font-weight: normal;
      margin: 5px 0;
    }
  }
  .modal-body {
    overflow: auto !important;
    .field--type-language {
      display: none;
    }
    .contact-message-feedback-form {
      margin: 30px 0 10px;
      .form-group {
        display: flex;
        width: 100%;
        align-items: center;
        @include media-breakpoint-down(sm) {
          display: block;
        }
        input, .form-textarea-wrapper{
          width: 75%;
          margin:0 5px;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
        input {
          border-radius: 0;
          border: 1px solid #101010;
          box-shadow: none;
          background: none;
        }
        textarea {
          height: 100px;
          border: 1px solid #101010;
          border-radius: 0;
          background: none;
        }
        label {
          width: 25%;
          font-weight: 400;
          font-size: 16px;
          @include media-breakpoint-down(sm) {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  .modal-buttons {
    text-align: center;
    .icon-before {
      display: none;
    }
    button {
      background: #dd4636 !important;
      border: none !important;
      font-size: 21px !important;
      #{$hover} {
        background: #ce3e2e;
      }
    }
  }
}


/*Header title*/
.page-header {
    color: #f7f7f7;
    background-size: cover;
    padding: 80px;
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    background: linear-gradient(0deg,#0000006b,rgba(0,0,0,0.55)), url(../images/jpg/pagetitle.jpg) left no-repeat;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      font-size: 25px;
      padding: 40px;
    }
}

/*Overlay css*/
.about-works{ 
  .content-wrp { 
    .viewmore {
      align-items: center;
      justify-content: center;
      display: flex
    }
  }
}
.path-portfolio, .about-works {
  .content-wrp {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #333;
      overflow: hidden;
      opacity: 0.9;
      width: 100%;
      height: 0;
      transition: .5s ease;
      div {
        flex: 1 100%;
        font-size: 18px;
        padding: 10px;
        color: #fff;
      }
      .body {
        ul {
          list-style: none;
          text-align: left;
          margin: 0;
        }
      }
      .title {
        padding: 0;
        a {
          color: #fff;
          font-size: 25px;
          width: 100%;
          background: #e84c3d;
          font-weight: bold;
          display: block;
          text-decoration: none;
        }
      }
      .viewmore {
        color: white;
        font-size: 20px;
        text-align: center;
        z-index: 1111;  
        margin: 0;
        padding: 0;
        a.wht {
          font-size: 14px;
          border-color: #fff !important;
        } 
      }
  }
  .views-row, .shuffle-item {
    position: relative;
    &:hover {
      .content-wrp {
        bottom: 0;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .more-link {
    a {
      border-color: #e84c3d !important;
        color: #e84c3d !important;
        #{$hover} {
        color: #ffffff !important;
        background-color: #e84c3d;
      }
        &::before, &::after {
          border-color: #e84c3d !important;
        }
    }
  }
}
.feedback-block {
  .slick__arrow {
    top: unset !important;
    z-index: 0;
  }
}
.view-testimonal-feedback  .slick-dots {
    padding: 0 !important;
    bottom: -50px !important;
}

/*Testimonal wrapper*/
.testimonal-wrpper {
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  font-size: 16px;
  min-height: 200px;
  .desc {
    flex: 1 100%;
    text-transform: capitalize;
  }
  .image {
    margin: 0 10px 0 0;
    svg {
      font-size: 40px;
      color: #171717;
    }
  }
  .name {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px;
  }
}
.entity-content-form-footer {
    display: none;
}

/*title hidden in baisc page*/
.page-node-type-page {
  article {
    background: #f7f7f7;
  }
}

/*quicktabs*/
  .about-tabs {
    background: #fff;
    .about-tabs-wrp {
      display: flex;
      justify-content: center;
      margin: 0;
      li {
        list-style: none;
        @include media-breakpoint-down(sm) {
          margin: 0;
        }
        a {
          color: #000;
          font-size: 20px;
          border-bottom: 5px solid #fff;
          padding: 10px 25px;
          display: block;
          text-decoration: none;
          @include media-breakpoint-down(sm) {
            padding: 10px 20px;
          }
          &.active {
            color: #e84c3d;
            border-bottom: 5px solid #e84c3d;
          }
        }
      }
    }
  }


  .page-node-type-blogs {
    nav {
      .menu {
        li.dropdown + li + li a {
          background: #e84c3d;
        }
      }
    }
  }


/*portfolio link design*/
.path-portfolio-list { 
  nav {
    .menu {
      li.dropdown + li a {
        background: #e84c3d;
      }
    }
  }
  .grid-list {
    .list {
      background: #f9f9f9;
      color: #fb867b;
      padding: 2px 8px;
      box-shadow: 0 0 10px #e4e4e4;
    }
  }
}

.path-portfolio {
  .grid-list {
    .grid {
      background: #f9f9f9;
      color: #fb867b;
      padding: 2px 8px;
      box-shadow: 0 0 10px #e4e4e4;
    }
  }
}

.breadcrumb {
  margin-top: 20px;
}

.path-frontpage h1.page-header {
  display: none;
}