.user-logged-in {
  header {
	&.sticky {
	  position: relative;
	}
  }
}

header {
	background: #101010;
	border-bottom: 2px solid #e84c3d;
	.navbar-toggle {
		background-color: #101010;
		.icon-bar {
			background: #fff;
		}
	}
	.logo {
		margin: 8px 15px !important;
		img {
		  max-width: 140px;
    	  max-height: 34px;
		}
	}
	.navbar-brand {
		display: none;
	}
	ul {
	    float: none !important;
    	display: flex;
    	justify-content: center;
    	@include media-breakpoint-down(sm) {
    		display: block;
    	}
	 	li {
	 		a {
	 			color: #fff;
	 			font-size: 20px;
	 			#{$hover} {
	 				background-color: #e84c3d !important;
    				color: #fff;
	 			}
	 			&.is-active {
				    background: #e84c3d;
				    color: #fff;
				}
	 		}
	 		&:hover {
	 			ul.dropdown-menu {
				    display: block;
				    li {
				    	a {
				    		#{$hover} {
				    			color: #fff;
				    		}
				    	}
				    }
				}
	 		}
	 		ul.dropdown-menu {
	 			padding: 0 !important;
	 			@include media-breakpoint-down(sm) {
				   	width: 100%;
					position: relative;
					border: none;
					background: #252525;
				}
	 			li {
	 				a {
	 					padding: 5px 25px;
					    border-bottom: 1px solid #e4e4e4;
					    font-size: 20px;
					    @include media-breakpoint-down(sm) {
						   color: #fff;
						   border: none;
						}
						&.active {
							background-color: #e84c3d !important;
						}
	 				}
	 			}
	 		}
	 	}
	}
	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
	}
}

.flexy-logo {
  font-size: 0 !important;
  background: url('../logo.svg') no-repeat top;
  background-size: 125px;
  width: 125px;
  height: 32px;
  margin: 0;
}