/*About page starts*/
.about-wrpper {
	padding: 50px 0 0;
	@include media-breakpoint-down(sm) {
	    padding: 5px 0 25px;
	}
	.body {
	    text-align: center;
	    font-size: 26px;
	    h2 {
		    font-weight: bold;
		    font-size: 32px;
		    margin: 25px;
		    @include media-breakpoint-down(sm) {
			    font-size: 20px !important;
			    margin: 25px 0;
			}
		}
		p {
		    margin: 20px 0 60px;
		     @include media-breakpoint-down(sm) {
			    margin: 20px 20px 0;
			}
		}
	}
	.bgimg {
	    background: url(../images/png/profile_image.png);
	    background-size: 436px;
	    width: 350px;
	    height: 436px;
	    background-position: center;
	    font-size: 0 !important;
	    margin: 50px auto;
	    cursor: grab;
		background-repeat: no-repeat;
		filter: grayscale(100%);
        -webkit-filter: grayscale(100%);

	    &:hover {
		  filter: none;
          -webkit-filter: grayscale(0);
		}
		@include media-breakpoint-down(sm) {
			background-size: 643px;
		    width: 320px;
		    height: 398px;
		}
		@include media-breakpoint-down(xs) {
			background-size: 505px;
		    width: 252px;
		    height: 313px;
		}
	}
	.ui {
	    background: url(../images/png/uiux.png);
	    width: 1000px;
	    height: 453px;
	    background-size: 1000px;
	    font-size: 0 !important;
	    margin: auto;
	    @include media-breakpoint-down(md) {
	    	background-repeat: no-repeat;
	    	width: 100%;
	    	background-size: contain;
	    }
	    @include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.body-desc {
	    background: #e84c3d;
	    padding:75px 75px 175px 75px;
	    color: #fff;
	    text-align: left;
	    font-size: 21px;
	    margin: 0 0 60px;
	    @include media-breakpoint-down(md) {
	    	padding: 50px 25px;
	    }
	    @include media-breakpoint-down(sm) {
	    	margin: 0;
	    }
	    p {
		    margin: 20px 0;
    		font-weight: 300;
		}
		h2 {
		    text-align: center;
		    font-weight: 800;
		    font-size: 36px;
		    margin: 30px 0;
		}
		.body { 
			p {
		    	margin: 0 !important;
		    	font-size: 22px;
			}
		}
	}
	.details-wrapper {
	    display: flex;
		justify-content: center;
		text-align: center;
		padding: 75px 50px;
		padding: 50px;
    	margin: -23% 0 0;
    	@include media-breakpoint-down(md) {
    		display: block;
    		margin: 0;
    		padding: 10px;
    	}
    	@include media-breakpoint-down(sm) {
    		padding: 0;
    	}
		.col {
		    width: 32%;
		    padding: 40px;
		    background: #fff;
		    border-right: 1px solid #f3f3f3;
		    text-align: center;
		    @include media-breakpoint-down(md) {
	    		width: 100%;
	    		padding: 20px 10px;
	    	}
	    	@include media-breakpoint-down(sm) {
	    		padding: 20px;
	    		margin: 20px 0;
	    	}
		    .design-icon {
			    font-size: 0 !important;
			    background: url(../images/png/icons/web-design.png);
			    width: 51px;
			    height: 51px;
			    margin: auto;
			}
			.ui-icon {
			    font-size: 0 !important;
			    background: url(../images/png/icons/ui-ux.png);
			    width: 51px;
			    height: 51px;
			    margin: auto;
			}
			.drup-icon {
			    background: url(../images/png/icons/drupal.png);
			    width: 51px;
			    height: 51px;
			    margin: auto;
			    font-size: 0 !important;
			    box-shadow: 0 0 3px #a9a9a9;
			}
			h2 {
			    font-weight: 800;
			    color: #565656;
			    margin: 25px 0 20px;
			    font-size: 20px;
			    text-align: center;
			    background: #fff;
			    padding: 10px 0;
			    border: 1px solid #cccccc;
			}
			p {
			    font-size: 16px;
			    margin: 0 !important;
			    line-height: 30px;
			}
			h3 {
			    color: #e84c3d;
			    font-size: 21px;
			}
			ul {
			    list-style: none;
			    font-size: 16px;
			    line-height: 30px;
			    padding: 0;
			    li {
			    	display: inline-block;
				    margin: 3px 2px;
				    padding: 5px 12px;
				    font-family: arial;
				    font-weight: 200;
				    background: #f7f7f7;
			    }
			}
		}
	}

	.technology-wrp {
	    text-align: center;
	    .icon-wrp {
		    display: flex;
		    justify-content: space-evenly;
		    margin: 25px 0;
		    @include media-breakpoint-down(md) {
		    	flex-wrap: wrap;
		    	justify-content: center;
		    }
		    .icon {
		    	@include media-breakpoint-down(md) {
			    	width: 10%;
    				margin: 35px !important;
			    }
		    }
		}	
	}
}
.page-node-type-works {
	.col-sm-9 {
		@include media-breakpoint-down(sm) {
	    	padding: 0;
	    }
	}
}

/*Works detailed page*/
.details-content-wrp {
    text-align: left;
    padding: 20px 5px;
    font-size: 21px;
    @include media-breakpoint-down(sm) {
    	padding: 20px 0;
    }
    .row {
	    margin: 19px !important;
	    @include media-breakpoint-down(sm) {
	    	margin: 0 !important;
	    }
	    &.mainimg, &.uiimg {
		    .field--label {
			    display: none;
			}
			img {
				width: 100%;
			}
		}
		.field--item {
		    background: #f9f9f9;
		    padding: 25px;
		    letter-spacing: 1px;
    		line-height: 33px;
    		ul {
    			li {
    				margin: 7px 0;
				    list-style: none;
				    text-indent: -25px;
				    &::before {
				    	content: '';
					    padding: 0 5px;
					    background-color: #e84d41;
					    margin-right: 15px;
				    }
    			}
    		}
		}

		.field--label {
		    border-bottom: 2px solid #e84d42;
		    padding: 10px;
		    color: #ffffff;
		    background: #333;
		    font-size: 25px;
		    font-weight: 500;
		}
		&.category , &.tech {
			.field--items {
				.field--item {
					display: inline-block;
				    padding: 5px 15px;
				    margin: 10px 10px 10px 0;
				    background: #ebebeb;
				    a {
				    	color: #333333;
					    pointer-events: none;
					    font-size: 19px;
				    }
				}
			}
		}
	}
}

/*Contact page*/
.path-contact {
	.region-content {
	    text-align: left;
	    padding: 50px !important;
	    @include media-breakpoint-down(sm) {
	    	padding: 30px 0 !important;
	    }
	    @include media-breakpoint-down(md) {
	    	display: block;
	    }
	    .gradient-background {
		    display: none;
		}
	    .header {
	    	h2 {
			    margin: 10px 0;
			}
	    }
	}
}
.path-webform {
	.page-header {
		background-color: #fff;
	}
	.region-content {
	    text-align: center;
	}
}
		.webform-submission-testimonals-form .form-item-name label {
		 	display: none !important;
		}
		.path-contact .contact-message-feedback-form,
		.node-webform-form,
		.user-login-form,
		.user-register-form  {
		    width: 55%;
		    background: #fff;
		    box-shadow: 0 0 10px #c5c5c5;
		    padding: 50px;
		    text-align: left;
		    margin: 40px auto;
		    @include media-breakpoint-down(md) {
		    	width: 80%;
		    }

			@include media-breakpoint-down(sm) {
		    	width: 100%;
		    }
			.webform-file-button {
    			display: inline-block !important;
			}
			.form-item-mail label, .form-item-name label {
				display: block;
			}
			.form-item label {
			  font-size: 16px;
			}
			#edit-preview {
			  display: none;
			}
			
			#edit-submit, #edit-actions-submit {
			    background: #e84c3d;
			    border: none;
			    padding: 10px 20px;
			    font-size: 20px;
			    margin: 40px auto 0;
			    display: block;
			    #{$hover} {
			    	background: #c7392b;
			    }
			}
		}


/* Media Queries */

@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1199px) {
    @content;
  }
}

$background: #fff;
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
$border: 1px solid rgba(191, 191, 191, 0.4);
$items: 10;
$rows: ceil($items/2);

/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;

/* Colors */

$steps: #46b8e9;
$colors: #46b8e9,
#3ee9d1,
#ce43eb,
#4d92eb,
#46b8e9,
#3ee9d1,
#ce43eb,
#4d92eb;
$timeline: #bdbdbd;

/* Calculations */

$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width*2 + $outer-margin*3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + $outer-margin/2 - $marker-size/2;

/* Placeholders */

@include mq-lg {
  %arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  %marker {
    position: absolute;
    content: "";
    width: $marker-size;
    height: $marker-size;
    background-color: $timeline;
    border-radius: $marker-size;
    box-shadow: 0px 0px 2px 8px $background;
  }
}


/* Some Cool Stuff */

$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .demo-card:nth-child(#{$i*2-1})   { order: $i }
  .demo-card:nth-child(#{$i*2})     { order: $counter }
  $counter: $counter + 1;
}

#timeline {
  padding: 30px 0 0;
  border-bottom: $border;
  h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: 24px;
    margin-bottom: 45px;
  }
  .demo-card-wrapper {
    position: relative;
    margin: auto;
    z-index: 0;
    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: $container-width;
      height: $container-height;
      margin: 0 auto;
    }
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: $border;
      @include mq-lg {
        border-left: 1px solid $timeline;
      }
    }
  }
  .demo-card {
    position: relative;
    display: block;
    margin: 10px 0;
    max-width: 100%;
    z-index: 2;
    @include mq-sm {
      max-width: 75%;
      box-shadow: $box-shadow;
    }
    @include mq-md {
      max-width: 75%;
    }
    @include mq-lg {
      max-width: $card-width;
      height: $card-height;
      margin: $outer-margin;
      margin-top: $outer-margin/2;
      margin-bottom: $outer-margin/2;
      &:nth-child(odd) {
        margin-right: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }
        .head::before {
          @extend %marker;
          left: $marker-dist + 1;
        }
      }
      &:nth-child(even) {
        margin-left: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }
        .head::before {
          @extend %marker;
          right: $marker-dist - 1;
        }
      }
      &:nth-child(2) {
        margin-top: $stagger;
      }
    }
    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;
      .number-box {
        display: inline;
        float: left;
        margin: $inner-margin;
        font-family: arial;
        padding: 10px;
        font-size: $number-size;
        line-height: 30px;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17);
        @include media-breakpoint-down(sm) {
	    	margin: 0 15px 0 0;
	    }
      }
      h2 {
        text-transform: uppercase;
        font-size: 19px !important;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding: 6px !important;
        @include mq-sm {
          font-size: 26px;
		  line-height: 26px;
		  font-weight: 900;
        }
        span {
        display: block;
	    font-size: 20px !important;
	    margin: 0;
	    color: #fff;
	    font-weight: bold !important;
	    font-family: arial;
          @include mq-sm {
            font-size: 21px;
          }
        }
      }
    }
    .body {
      background: #fff;
      border: $border;
      border-top: 0;
      padding: $inner-margin;
      @include mq-lg {
        height: 320px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: $inner-margin;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    @for $i from 1 through $items {
      &--step#{$i} {
        $color: nth($colors, ((($i - 1) % 8) + 1));
        background-color: $color;
        .head::after {
          border-color: $color;
        }
      }
    }
  }
}
.page-node-type-page {
	.skills {
		@include media-breakpoint-down(sm) {
			display: block !important;
			padding: 0;
		}
		.skills-wrp {
			font-family: arial;
			text-align: left;
			display: block !important;
		    align-items: center;
		    margin-bottom: 70px;
		    width: 60%;
		    margin: 30px auto;
		    background: url(../images/jpg/backgroundskill.jpg) no-repeat;
		    padding: 50px;
		    box-shadow: 0 0 37px #cecece;
		    background-size: cover;
		    @include media-breakpoint-down(md) {
				width: 75%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
				padding: 4px 20px !important;
				margin: 20px 0;
			}
			.skillpage {
				h2 {
				    color: #fff;
				    padding: 10px;
				    border-bottom: 2px solid #fff;
				    margin: 0;
				    text-transform: uppercase;
				    font-weight: bold;
				    font-size: 35px;
				}
				h3 {
				    background: #333;
				    margin: 0;
				    color: #fff;
				    font-weight: 300;
				    padding: 10px;
				}
				.skillbar-title {
					background: #030303;
	    			color: #fff;
	    			border-radius: 0 !important;
	    			@include media-breakpoint-down(md) {
						position: relative !important;
	    				width: auto !important;
					}
					span {
						height: auto !important;
						min-height: auto !important;
						padding: 0 !important; 
						font-size: 20px !important;
						line-height: 20px !important;
					}
				}
				.skillbar {
				    margin: 40px 0;
				    height: auto;
				    .skillbar-bar {
				    	height: auto !important;
				    }
				}
				.skill-bar-percent {
					font-size: 15px !important;
				    height: auto !important; 
				    line-height: 22px !important;
				    @include media-breakpoint-down(md) {
						color: #fff;
					}
				}
				.green {
				    background:#59e851 !important;
				}
				.orange {
				    background:#e8af51 !important;
				}
				.green-orange {
				    background:#c6e851 !important;
				}
				.red {
				    background:#e85151 !important;
				}
			}
		}
	}
}
.keepintouch {
    border-left: 1px solid #dedede;
    padding: 0 50px 0 100px;
    @include media-breakpoint-down(md) {
		 padding: 0;
		 border: none;
		 margin: 35px 0;
	}
	 .block-title {
	 	text-transform: capitalize !important;
	    text-align: center;
	    margin: 0 !important;
	    font-weight: 400 !important;
	    font-size: 25px !important;
	    display: block !important;
	    height: auto !important;
	    box-shadow: none !important;
	    color: #333 !important;
	    padding: 10px !important;
	    @include media-breakpoint-down(sm) {
	    	font-size: 20px !important;
	    }
	 }
}
	.webform-submission-keep-in-touch-form {
		label {
			display: none !important;
		}
		.form-item {
		    margin: 17px 0;
		    input, textarea {
		    	border: none;
			    padding: 15px;
			    height: auto;
			    border-radius: 0;
			    box-shadow: 0 0 5px #ececec;
		    }
		}
		input {
			width: 100% !important;
		}
		.form-actions {
		    text-align: center;
		    button {
			    background: #e84c3d;
			    padding: 10px 25px;
			    border-color: #e84c3d;
			    &.active {
			    	background: #e84c3d;
			    	border-color: #e84c3d;
			    }
			}
		}
	}

.page-node-type-blogs {
	section.col-sm-9 {
		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}
}

/*Blogs landing page*/
.blog-page-wrp {
	background: #fff;
    padding: 50px;
    @include media-breakpoint-down(sm) {
		padding: 15px;
	}
    .roww {
    	margin: 20px 0;
    	.field--label {
		    color: #909090;
		    font-weight: 400;
		    text-transform: uppercase;
		}
		&.body {
			.content-wrp {
			    font-size: 16px;
			    font-family: arial;
				.header {
					h2 {
					    font-weight: 700;
					    margin: 25px 0;
					    border-bottom: 1px solid #e0e0e0;
					    padding-bottom: 11px;
					}
				}
				h3 {
				    margin: 25px 0 0;
				}
				img {
				    margin: 15px 0 30px 0;
				    width: 100%;
				}
				ul {
			      padding: 0;
				    li {
				      margin: 6px 0;
				      list-style: none;
				      text-indent: -15px;
				      padding: 0 0 0 15px;
				      &::before {
				        content: '';
				        padding: 5.5px;
				        background-color: #e84c3d;
				        margin-right: 10px;
				        display: inline-block;
				      }
				    }
				}
			}
		}
		&.readtime, &.author { 
			font-size: 12px;
			margin: 2px 0 !important;
			.content {
		    	font-family: arial;
			}
		}
		&.tags {
		    .field--label {
			  	font-size: 15px;
			    font-weight: 600;
			    @include media-breakpoint-down(md) {
					float: none;
					margin: 6px 0;
				}
			}
			.field--item { 
				margin: 0 0 10px 0;
				@include media-breakpoint-down(md) {
					float: none;
					margin: 6px 0;
				}
				a {
				    background: #565656;
				    color: #fff;
				    padding: 5px 20px;
				    text-align: left;
				}
			}
		}
		&.comments {
		    margin: 140px 0 0;
		    display: block;
		    @include media-breakpoint-down(md) {
				margin: 50px 0;
			}
		}
    }
}


.webform-confirmation {
    font-size: 23px;
    color: #54a859;
    margin: 125px 0;
    padding: 25px;
    background: #ebf7eb;
    @include media-breakpoint-down(md) {
		padding: 25px 0;
	}
	@include media-breakpoint-down(sm) {
		margin: 30px 0;
	}
    .webform-confirmation__message {
	    margin:10px 0 0;
	    background: url(../images/png/tick.png) no-repeat top;
	    padding: 16px 16px 0;
	    background-size: 125px;
	    padding-top: 150px;
	    display: inline-block;
	}
	a {
	    text-decoration: underline;
	    font-size: 18px;
	}
}



.blogs-sidebar {
	.view-header h2 {
    	font-size: 23px;
	    box-shadow: none;
	    margin: 0;
	    padding: 15px;
	    background: #303030;
	    color: #fff;
    }
    .view-content {
    	padding: 5px 30px;
    	background: #e8e8e8;
    	.blogs-wrp {
		    border-bottom: 1px solid #dadada;
		    padding: 25px 0;
		}
		.title { 
			a {
			    color: #333;
			    line-height: 25px;
			    font-size: 23px;
			    font-weight: 700;
			}
		}
		.viewmoree { 
			text-align: center;
	    	margin: 20px 0 0;
			a {
			    background: #e84c3d;
			    color: #fff;
			    font-weight: 500;
			    padding: 7px 10px;
			    text-decoration: none;
			    :hover {
				    background: #772323;
				}
			}
		}
    }
    .about-wrpper {
    	padding: 50px 0;
    	.bgimg {
		    width: 161px;
		    height: 200px;
		    background-size: 323px;
		    margin: 0 auto;
		    padding: 0 !important;
		}
		p {
		    text-align: center;
		    font-size: 18px;
		    font-weight: 600;
		}
	}
}



.skillsicons {
	h2.skills-head {
	    padding: 10px;
	    text-align: center;
	    font-size: 41px;
	    font-weight: 700;
	    margin: 0;
	    color: #fff;
	    background: #e84b3c;
	}
	.roww {
	    background: #fff;
	    text-align: center;
    	margin: 25px auto;
	    padding: 30px;
	    box-shadow: 0 0 18px #e2e2e2;
	    img {
		    width: auto;
		    height: 85px;
		    margin: 15px 25px 0 0;
		    object-fit: contain;
		}
		h2 {
			margin: 0 !important;
		    padding: 0 0 20px 0;
		    border-bottom: 1px solid #e0e0e0;
		}
	}
}

.experience, .education{
	h2 {
		padding: 10px;
	    text-align: center;
	    font-size: 41px;
	    font-weight: 700;
	    margin: 0;
	    color: #fff;
	    background: #e84b3c;	
	}
	.roww {
    	display: flex;
    	background: #fff;
	    margin: 15px 0;
	    padding: 20px;
	    box-shadow: 0 0 10px #f3f3f3;
    	img {
		    height: 50px;
		    margin: 0 15px 0 0;
		}
		h3 {
		    font-size: 17px !important;
		    margin: 0 !important;
		    font-weight: 600;
		}
		.year {
		    font-family: arial;
		    color: #797979;
		}
    }
}

.skillset {
	p {
    	background: #f3f3f3;
    	padding: 10px 25px;
    	font-size: 17px;
    	font-weight: 500;
    	margin: 10px;
    	letter-spacing: 3px;
    }
}

.welcome-block p {
  text-align: center;
  margin: 50px;
  font-size: 20px;
}