/*Banner block design starts*/
.banner {
	background-size: 110% 110%;
	background-position: center center;
	animation: shrink 4s infinite alternate;
	background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.55)), url(../images/jpg/banner.jpeg) no-repeat center fixed;
	display: flex;
	align-items: center;
	background-size: cover;
	min-height: 50vw;
	justify-content: center;
    .banner-overlay {
	    font-size: 7vmin;
	    color: #fff;
	    text-align: center;
	    padding: 25px;
	    p {
	    	line-height: normal;
	    	span {
	    		color: #e84c3d;
    			font-weight: bold;
	    	}
	    	@include media-breakpoint-down(sm) {
				font-size: 22px !important;
			}
	    }
	}
	.viewmore {
		a {
			font-size: 4vmin;
		}
	}
	@include media-breakpoint-down(sm) {
		display: none !important;
	}
}
@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}
/*Banner block design ends*/

/*About page starts*/
.about-block {
	.block-title {
		margin: 20px 0 50px !important;
		@includ media-breakpoint-down(sm) {
			margin: 0 0 25px !important;
		}
	}
	.about-wrp {
	    display: flex;
	    align-items: center;
	    font-size: 22px;
	    text-align: left;
	    flex-wrap: wrap;
	    @include media-breakpoint-down(md) {
			align-items: flex-start;
		}
		@include media-breakpoint-down(sm) {
			display: block;
		}
	    .propic {
	    	width: 30%;
	    	@include media-breakpoint-down(md) {
		    	width: 25%;
		    }
		    @include media-breakpoint-down(sm) {
				display: flex;
	    		justify-content: center;
	    		width: 100%;
			}
			@include media-breakpoint-down(xs) {
				display: block;
			}
			img {
				@include media-breakpoint-down(xs) {
					width: auto;
					margin: auto;
				}
			}
	    }
	    .desc-wrp {
	    	width: 70%;
		    padding: 20px 0 20px 50px;
		    @include media-breakpoint-down(md) {
		    	width: 75%;
		    	padding: 0 0 0 35px;
		    }
		    @include media-breakpoint-down(sm) {
				width: 100%;
				padding: 0;
	    		margin: 20px 0;
			}
		     h2 {
		    	@include media-breakpoint-down(md) {
		    		margin: 0;
		    	}
		    }
		    .viewmore  {
		    	text-align: left;
		    	@include media-breakpoint-down(sm) {
					text-align: center;
				}
		    	a {
		    		margin: 1em 0;
		    	}
		    }
		    p {
		    	.color,
				span {
		    		font-weight: 800;
	    			color: #e84c3d;
		    	}
		    }
		}
	}
}
/*About page ends*/

.js-quickedit-main-content {
    .about-block, .what-we-do {
      text-align: center;
      padding: 25px 0 50px;
    }
    .about-block {
      background: #fdf5f4;
    }
    .what-we-do {
      	background: linear-gradient(0deg, #000000d9, rgba(0, 0, 0, 0.55)), url(../images/jpg/thingido.jpg) no-repeat center fixed;
	    background-size: cover;
	    color: #fff;
	    font-size: 22px;
	    font-weight: 600;
    } 
  .block-title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
    display: inline-block;
    height: 50px;
    box-shadow: 0 27px 0 -23px #e84c3d;
  }
}


.what-we-do {
	.thingsido {
		@include media-breakpoint-down(sm) {
			display: flex;
			justify-content: center;
			padding: 0 20px;
    		font-size: 19px;
		}
		.thingsido-overlay {
		    display: flex;
		    justify-content: space-evenly;
		    @include media-breakpoint-down(sm) {
		      display: block;
		    }
		    .left {
			    text-align: right;
			    @include media-breakpoint-down(sm) {
			      text-align: left;
			    }
			    p {
			    	@include media-breakpoint-down(sm) {
					      padding: 10px 0 0 60px !important;
					}
					&.graphic {
					    background: url(../images/png/icons/graphicdesign.png) no-repeat center right;
					    padding: 10px 65px;
					    height: 50px;
					    @include media-breakpoint-down(sm) {
					      background-position: left;
					    }
					}
					&.drupal {
					    background: url(../images/png/icons/drupal.png) no-repeat center right;
					    padding: 10px 65px;
					    height: 50px;
					    @include media-breakpoint-down(sm) {
					      background-position: left;
					    }
					}
					&.ui {
					    background: url(../images/png/icons/ui-ux.png) no-repeat center right;
					    padding: 10px 65px;
					    height: 50px;
					    @include media-breakpoint-down(sm) {
					      background-position: left;
					    }
					}
				}
			}
			.right {
				text-align: left;
				p {
					@include media-breakpoint-down(sm) {
					      padding: 10px 0 0 60px !important;
					}
					&.web {
					    background: url(../images/png/icons/web-design.png) no-repeat center left;
					    padding: 10px 65px;
					    height: 50px;
					}
					&.logo {
					    background: url(../images/png/icons/logodesign.png) no-repeat center left;
					    padding: 10px 65px;
					    height: 50px;
					}
					&.photo {
					    background: url(../images/png/icons/photore.png) no-repeat center left;
					    padding: 10px 65px;
					    height: 50px;
					}
				}
			}	
		}
	}
}


/*Featured Block starts*/
.featured-block {
	background: linear-gradient(0deg,rgb(255, 255, 255),rgba(255, 255, 255, 0.7)),url(../images/jpg/featureblock.jpg);
    background-color: #ffffff;
    background-size: cover;
    color: #333;
    text-align: center;
    background-position: bottom;
    padding: 20px 0 30px 0;
    .viewmore { 
    	a.red {
	    	margin: 20px 5px !important;
		}
	}
    .block-title {
    	margin: 50px 0 25px !important;
    }
    .featured-wrp {
	    display: flex;
	    justify-content: space-evenly;
	    align-items: center;
	    padding: 0 60px;
	    margin: 20px 0 50px;
	    @include media-breakpoint-down(md) {
	    	padding: 0 10px;
	    }
	    @include media-breakpoint-down(sm) {
	    	margin: 10px 0;
	    	display: block;
	    }
	    .featured-img {
	    	width: 60%;
			padding: 50px;
	    	@include media-breakpoint-down(md) {
	    		width: 50%;
	    	}
	    	@include media-breakpoint-down(sm) {
	    		width: 100%;
				padding: 20px;
	    	}
	    	img {
	    		width: 100%;
	    	}
	    }
	    .content-wrp {
		    text-align: left;
		    width: 40%;
		    @include media-breakpoint-down(md) {
		    	width: 70%;
		    }
		    @include media-breakpoint-down(sm) {
		    	width: 100%;
		    	padding: 0 35px;
		    }
		    .title {
		    	a {
		    		color: #e84c3d;
				    font-weight: 800;
				    font-size: 28px;
				    margin: 5px 0;
				    display: inline-block;
				    text-decoration: none;
				    @include media-breakpoint-down(md) {
			    		font-size: 24px
			    	}
		    	}
		    }
		    .body {
		    	font-size: 17px;
		    	@include media-breakpoint-down(md) {
			    	font-size: 14px
			    }
		    }
		    .viewmore {
		    	text-align: left;
		    }
		}
	}
}


.skills {
	text-align: center;
	.skills-wrp {
		display: flex;
		align-items: center;
		margin-bottom: 70px;
		@include media-breakpoint-down(md) {
			display: block;
			padding: 0 20px 0 0;
		}
		@include media-breakpoint-down(sm) {
		  padding: 0;
		}

		.fadeInLeftBig {
			@include media-breakpoint-down(md) {
			  padding: 5px;
			}

			@include media-breakpoint-down(sm) {
			  margin-left: 0;
			  margin-right: 0;
			}
		}
		.skillbar {
			position:relative;
			display:block;
			margin-bottom:15px;
			width:100%;
			background:#e6e6e6;
			height:35px;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			-webkit-transition:0.4s linear;
			-moz-transition:0.4s linear;
			-ms-transition:0.4s linear;
			-o-transition:0.4s linear;
			transition:0.4s linear;
			-webkit-transition-property:width, background-color;
			-moz-transition-property:width, background-color;
			-ms-transition-property:width, background-color;
			-o-transition-property:width, background-color;
			transition-property:width, background-color;
		}

		.skillbar-title {
			position:absolute;
			top:0;
			left:0;
			width:110px;
			font-weight: 500;
		    font-size: 15px;
		    color: #333333;
		    background: #ffffff;
			-webkit-border-top-left-radius:3px;
			-webkit-border-bottom-left-radius:4px;
			-moz-border-radius-topleft:3px;
			-moz-border-radius-bottomleft:3px;
			border-top-left-radius:3px;
			border-bottom-left-radius:3px;
		}

		.skillbar-title span {
			display:block;
			padding:0 20px;
			height:35px;
			line-height:35px;
			-webkit-border-top-left-radius:3px;
			-webkit-border-bottom-left-radius:3px;
			-moz-border-radius-topleft:3px;
			-moz-border-radius-bottomleft:3px;
			border-top-left-radius:3px;
			border-bottom-left-radius:3px;
		}

		.skillbar-bar {
			height:35px;
			width:0px;
			background: #9d9c9c;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
		}

		.skill-bar-percent {
			position:absolute;
			right:10px;
			top:0;
			font-size:11px;
			height:35px;
			line-height:35px;
			color:#000000;
		}

		.developer-img {
			background: url('../images/png/developer.png') no-repeat;
			width: 100%;
			height: 439px;
			background-size: contain;
			background-position: center;

			@include media-breakpoint-down(sm) {
			  height: 350px;
			}
		}
	}
}

/*About page works*/
.about-works {
	text-align: center;
	margin: 20px 0 60px;

	.views-row {
		padding: 0 15px;

		@include media-breakpoint-down(sm) {
		  padding: 0 20px;
		}
	}
}
.contact-header {
	.about-wrpper {
	    padding: 0;
	    .bgimg {
		    margin: 0 auto !important;
		}
	}
	.favicons {
		text-align: center;
    	margin: 15px 0 0;
		a {
			color: #fff;
		    padding: 5px 11px;
		    margin: 15px 5px 0 0;
		    display: inline-block;
		    font-size: 23px;
		    @include media-breakpoint-down(xs) {
		    	margin: 15px -5px 0 0;
		    }
			&.behance {
			    background: #3379fb;
			}
			&.linkedin {
			    background: #0174b3;
			}
			&.facebook {
			    background: #3a559f;
			}
			&.instagram {
			    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			}
			&.whatsap {
			    background: #6cd366;
			}
			&.phone {
			    background: #54a959;
			}
			&.mail {
				background: #e84c3d;
			}
		}
	}
	.contactpage {
		margin: 25px 0 10px;
		span.label {
		    color: #333;
		    font-size: 17px;
		    font-weight: bold;
		    text-transform: uppercase;
		    padding: 0 10px 0 0;
		    width: 22%;
		    display: inline-block;
		    text-align: left;
		}
		span.content {
	    	font-family: arial;
	    	font-size: 17px;
		}
	}
}

/*Social icon sticky starts*/
.region-content-top  {
	.favicons {
		right: 0;
	    position: fixed;
	    top: 50%;
	    z-index: 11;
	    color: #fff;
	    @include media-breakpoint-down(md) {
	    	right: 0;
		    bottom: 0;
		    top: unset;
		    left: 0;
		    background: #333;
		    display: inline-flex;
	    }
		a {
			display: flex;
		    color: #fff;
		    font-size: 21px;
		    padding: 10px;
		    justify-content: center;
		     @include media-breakpoint-down(md) {
		    	display: unset;
			    margin: 0 !important;
			    text-align: center;
			    width: 17%;
		    }
		    &.phone {
			    background: #54a959;
			}
			&.whatsup {
			    background: #6cd366;
			}
			&.behance {
			    background: #3379fb;
			}
			&.linkedin {
			    background: #0174b3;
			}
			&.facebook {
			    background: #3a559f;
			}
			&.instagram {
			    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			}
		}
	}
}

/*Related works block*/
.sidebar-works {
	background: #f8f8f8;
	margin-top: 38px;
    .slick-list {
    	margin: 35px;
    }
    h2.block-title {
	    color: #ffffff;
	    background-size: cover;
	    font-size: 19px;
	    background: #333333;
	    margin: 0;
	    padding: 10px;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
	    display: block;
	    box-shadow: none;
	    height: auto !important;
	    @media screen and (max-width: 767px) {
	    	font-size: 25px;
	    }
	}
	.about-works {
	    margin: 0 !important;
	    .slick__grid {
	    	display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
	    }	
	    .realted-works-wrapper {
			.work-img {
				margin: 0;
			}
			.wrp {
				.work-title {
					font-size: 19px;
					text-align: center;
					margin: 0 0 30px;
					a {
					    color: #fff;
					    background: #e84c42;
					    margin: 0 !important;
					    display: block;
					    padding: 5px;
					    font-weight: bold;
					}
				}
			}	
		}
		.more-link {
			a {
				font-size: 14px;
    			margin: 30px 0;
			}
		}
	}
}


/*Webform block*/
.webform-aboutblock {
    text-align: center;
}
.feedback-block {
	font-size: 19px;
   	padding: 0 0 75px 0;
	text-align: center;
	background: #e6e6e6;
	.quotes {
	    background: url(../images/png/quotes.png) no-repeat;
	    width: 70px;
	    height: 70px;
	    background-size: 70px;
	    margin: 20px auto;
	}
	.form-item-name {
	    text-transform: capitalize;
	    font-weight: bold;
	    font-size: 23px;
	}
	.form-item-message {
	    text-transform: capitalize;
	    font-style: italic;
	}
	label {
		display: none;
	}
}


.banner-mobile {
    display: none;
    @include media-breakpoint-down(sm) {
	    	display: block;
	}
	.banner {
		@include media-breakpoint-down(sm) {
	    	display: block !important;
	    	min-height: initial;
		}
		.viewmore {
			@include media-breakpoint-down(sm) {
		    	display: none !important;
			}
		}
	}
}


/*Expertise block*/
.expertise-block {
	text-align: center;
	background: #333333;
	.block-title {
		color: #fff;
	}
	.expert {
	    display: flex;
	    justify-content: space-between;
	    margin: 0 auto 125px auto;
	    @include media-breakpoint-down(md) {
			display: block;
		}
	  	.col {
		    padding: 80px 40px;
		    background: #fff;
		    width: 34%;
		    font-size: 45px;
		    border: 1px solid #f5f5f5;
		    @include media-breakpoint-down(md) {
				width: 90%;
				margin: 20px auto;
				padding: 40px;
			}
			p {
			    font-family: arial;
			    font-size: 26px;
			}
			h2 {
			    font-size: 42px;
			    text-transform: uppercase;
			    font-weight: 800;
			}
			&:hover {
			    background: #e84c3d;
			    transform: scale(1.1);
			    transition: 0.5s;
			    color: #fff;
			    border-color: #e84c3d;
			}
		}
	}
}


/*Portfolio-list*/
.works-list { 
	.featured-wrp {
		display: flex !important;
	    flex-wrap: wrap;
	    background: #f9f9f9;
	    padding: 10px;
	    border: 1px solid #e2e2e2;
	    align-items: center;
	    
	    .views-field-field-image {
		    width: 20%;
		}
		.content-wrp-list {
		    width: 73%;
		    text-align: left;
		    margin-left: 15px;
		    .left {
			    width: 85%;
			    display: inline-block;
				.title { 
			    	a {
				    	color: #333;
				    	font-weight: 600;
				    	text-decoration: underline;
					}
				}
				.category { 
					@include media-breakpoint-down(xs) {
						display: none;
					}
					a {
					    background: #f7f7f7;
					    color: #000;
					    font-weight: 300;
					    padding: 3px 5px;
					    margin: 5px 0;
					    font-size: 13px;
					    display: inline-block;
					    pointer-events: none;
					}
				}
			}
			.viewmore-list {
			    text-align: right;
			    margin: 10px 0;
			    background: #e84c3db3;
			    display: inline-block;
			    float: right;
			    border-radius: 53px;
			    padding: 3px 1px;
			    a {
				    background: url(../images/svg/r_arrow-lg.svg) top -1px center no-repeat;
				    font-size: 0 !important;
				    padding: 12px;
				    background-size: 15px;
				}
			}
		}
	}
}

/*portfolio page grid and list view*/
.grid-list {
    text-align: left;
    margin: 20px 0 15px;
   	a {
	    font-size: 22px;
	    margin: 0 5px;
	    display: inline-block;
	    color: #97969f;
	    &:hover {
		    color: #e84c3d;
		}
	}
}


/*Work process*/
.work-process-block {
    text-align: center;
    background: linear-gradient(0deg,#000000d9,rgba(0,0,0,0.55)),url(../images/jpg/workprocess.png) no-repeat top fixed;
    background-size: cover;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    .work {
    	margin-bottom: 95px;
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	.col {
		    border: 4px solid #fff;
		    margin: 10px 20px;
		    padding: 30px 0;
		    width: 12%;
		    @include media-breakpoint-down(md) {
		    	width: 27%;
		    }
		    @include media-breakpoint-down(sm) {
		    	width: 85%;
		    }
		    h2 {
			    font-size: 17px !important;
			}
			&::after {
			    content: "→";
			    margin-top: -10px;
			    position: absolute;
			    right: -38px;
    			top: 45%;
    			@include media-breakpoint-down(md) {
			    	display: none;
			    }
			}
			&:last-child::after {
			    display: none;
			}
		}
	}
}

.blogs-wrp-block, .path-blogs {
	text-align: center;
	padding: 0 0 75px;
	.blogs-wrp {
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    background: #ffeae8;
	    padding: 50px;
	    color: #000;
	    @include media-breakpoint-down(md) {
			display: block;
			padding: 20px;
		}
	    box-shadow: 0 0 30px #e4e4e4;
	    .b-left {
		    width: 48%;
		    @include media-breakpoint-down(md) {
				width: 100%;
			}
		}
		.b-right {
		    text-align: left;
		    width: 49%;
		    padding-left: 25px;
		    margin-left: 25px;
		    border-left: 1px solid #e84c3d;
		    @include media-breakpoint-down(md) {
				width: 100%;
				padding: 0;
				margin: 0;
				border: none;
			}
		    .title {
		    	a {
		    		color: #333333;
				    font-weight: 800;
				    font-size: 40px;
				    text-decoration: none;
				    line-height: 41px;
				    @include media-breakpoint-down(sm) {
						font-size: 30px !important;
						line-height: 30px;
					}
		    	}
		    }
		    .caption {
			    background: #e84c3d;
			    color: #fff;
			    padding: 5px 20px;
			    margin: 0 0 15px;
			    font-size: 17px;
			    font-weight: 600;
			    display: inline-block;
			    @include media-breakpoint-down(sm) {
					margin: 10px 0;
				}
			}
		    .viewmore {
		    	text-align: left;
		    	a {
		    		margin: 16px 5px;
		    	}
		    }
		}
	}
}

/*Blog page*/
.path-blogs  {
	text-align: left;
    padding: 0;
	.blogs-wrp {
	    margin: 40px 0;
	    background: #fff;
	    .b-right {
	    	border-left: 1px solid #f3f3f3;
	    	.read-time { 
	    		.label {
			    	color: #616161;
			    	font-size: 13px;
			    	padding: 0;
			    	font-weight: 500;
			    	text-transform: uppercase;
				}
				.rt {
				    font-size: 13px;
				    text-transform: uppercase;
				    color: #616161;
				    font-family: arial;
				}
			}
			.author {
			    font-style: italic;
			    color: #797979;
			    font-size: 13px;
			    .label {
				    color: #797979;
				    font-weight: 400;
				    font-size: 13px;
				    padding: 0;
				    margin: 10px 5px 10px 0;
				    display: inline-block;
				}
			}
	    }
	}
}

.slick-next {
  @include media-breakpoint-down(sm) {
    right: 0;
	z-index: 111;
  }	
}

.slick-prev {
	@include media-breakpoint-down(sm) {
	  left: -16px;
	  z-index: 111;
	}	
  }