	.works {
		text-align: center;
		.view-works {
			.views-exposed-form {
				margin: 5px 0 35px 0;
				.form-type-select {
					label {
						font-weight: 400;
						text-transform: uppercase;
						color: #333;
						font-size: 16px;
						margin: 0 5px;
					}
					.select-wrapper {
						margin: 0 15px;
						select {
							border-radius: 0;
						}
						&::after {
							color: #e84c3d !important;
						}
					}
				}
				.btn-info {
					background: #e84c3d;
					border: #e84c3d;
					font-weight: bold;
					#{$hover} {
						background: #b92a1c;
					}
				}
			}
			.view-content {
				justify-content: center;
				.views-row {
				    width: 22%;
				    margin: 15px;
				    @include media-breakpoint-down(md) {
				    	width: 46%;
				    }
				    @include media-breakpoint-down(sm) {
				    	width: 98%;
				    }
				    img {
				    	width: 100%;
    					height: 200px;
    					border: 5px solid #ffffff;
					    outline: 1px solid #af9c9b30;
					    outline-offset: -6px;
				    }
				}
			}
			.more-link {
				a {
					border-color: #e84c3d !important;
    				color: #e84c3d !important;
    				#{$hover} {
					    color: #ffffff !important;
					    background-color: #e84c3d;
					}
    				&::before, &::after {
    					border-color: #e84c3d !important;
    				}
				}
			}
		}
	}
	.view-works {
		text-align: center;
		margin: 0 40px 50px !important;
		@include media-breakpoint-down(sm) {
			margin: 0 !important;
		}
		.view-content {
			.shuffle-filters-container {
				ul {
					li {
						font-size: 16px;
					    margin: 15px 12px;
					    cursor: pointer;
					    background: #f8f8f8;
					    padding: 6px 13px;
					    @include media-breakpoint-down(sm) {
							margin: 4px;
						}
					    &.active {
					    	color: #e84c3d;
						    background: #f7f7f7;
						    padding: 5px 8px !important;
						    font-weight: 400;
						    transform: scale(1.09);
						    transition: 0.3s;
						    background: #ffffff;
					    }
					}
				}
			}
		 	.shuffle-item {
		 		padding: 5px;
		 	}
			.views-field-field-image {
				a {
					display: none;
					&:first-child {
						display: block;
					}
				}
			}
		}
	}
