// Radon Color Codes

$yes-orange: #f8a24b;
$yes-blue: #6fc4ed;
$yes-greengit: #92ddd6;
$yes-greengit-lt: #87decd;
$yes-g-blue: #3a4354;//Grayish Blue
$yes-d-gray: #d8d2d0;

//Border Colors
$yes-d-gray-border: #525863;