// Yesifi extend classes

// Position Styles
%absolute {
    position: absolute;
}
%relative {
    position: relative;
}

// Display Styles
%inline-block {
    display: inline-block;
}
%block {
    display: block;
}
%hidden {
    display: none;
}
%table-cell {
    display: table-cell;
}

// Alignment Style
%ele-center {
    margin: 0 auto;
}
%ele-top {
    vertical-align: top;
}

%text- {
    &center {
        text-align: center;
    }
    &left {
        text-align: left;
    }
    &right {
        text-align: right;
    }
    &justify{
        text-align: justify;
    }
    &decoration-none {
        text-decoration: none;
    }
    &uppercase {
        text-transform: uppercase;
    }
    &capitalize {
        text-transform: capitalize;
    }
}

%right {
    float: right;
}

%left {
    float: left;
}

%font- {
    &bold {
        font-weight: bold;
    }
}

%pointer {
    cursor: pointer;
}

// SASS looping

// Border Radius
%radius- {
    &25 {
        border-radius: 25%;
    }
    &50 {
        border-radius: 50%;
    }
}


// Flex Box
%flex   {
    &-box {
        display: flex;
        flex-wrap: wrap;
    }
    &-center {
        justify-content: center;
    }
}


// Box Model
%margin {
    &-none {
        margin: 0;
    }
}
%padding {
    &-none {
        padding: 0;
    }
}

// Max 1024px mockups
%max-1024 {
    max-width: 1024px;
    margin: 0 auto;
}