// Radon Mixins


//Button Hover and Active Mixins
@mixin btn-bg($bg, $tc) {
    background-color: $bg;
    color: $tc;
    &:hover {
      background-color:darken($bg,8%);
    }
    &:active {
      background-color:darken($bg,25%);
    } 
}

//Background Styles
@mixin bg-img($imgurl) {
  background-image: url($imgurl);
}
@mixin bg-size($bgsize) {
  background-size: $bgsize;
}
@mixin bg-repeat($bgrepeat) {
  background-repeat: $bgrepeat;
}
@mixin bg-position($bgposition) {
  background-position: $bgposition;
}
@mixin bg-color($bgcolor) {
  background-color: $bgcolor;
}

//Box Shadow
@mixin shadow($boxshadow) {
  box-shadow: $boxshadow;
}

@mixin radius($radiusPX) {
  border-radius: $radiusPX;
}

@mixin  square($squareSize) {
  width: $squareSize;
  height: $squareSize;
}

//Browser
@mixin browser-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}